<div class="services">
  <div class="section-head">
    <div class="row">
      <div class="large-9 columns">
        <h1 class="section-heading">Ways to Save</h1>
      </div>
    </div>
  </div>
  <div class="row has-side-nav">
    <div class="large-3 columns side-nav-container" ng-include="'partials/ways-to-save/_sidebar.html'"></div>
    <div class="large-9 columns">
      <div class="primary-content-container">
      <div class="row">
        <h2 class="large-8 columns page-heading">Lighting Controls Contractors</h2>
        <div class="large-4 columns marketplace-status" ng-include="'partials/ways-to-save/marketplace/_shopping-nav.html'">
        </div>
      </div>
      <div class="row">
        <div class="small-4 columns services-dropdown">
          <label>Companies that provide
            <div ng-dropdown-multiselect=""
                class="services-dropdown"
                ng-init=""
                extra-settings="checkboxSettingsContractors"
                options="contractorDropdownData"
                selected-model="contractorDropdown"
                translation-texts="translatedText"
                checkboxes="true"
                events="">
            </div>
          </label>
        </div>
        <div class="small-3 columns">
          <label>Filter by
            <select>
              <option value="business-name">Business name</option>
              <option value="">City</option>
              <option value="">County</option>
              <option value="">Industries served</option>
            </select>
          </label>
        </div>
        <div class="small-3 columns end">
          <label>Sort
            <select>
              <option value="rating">Rating</option>
              <option value="">Distance</option>
              <option value="">AZ</option>
            </select>
          </label>
        </div>
      </div>
      <section class="contractors-list">
        <h3>32 lighting contractors near 94118</h3>
        <div class="row contractor">
          <div class="small-9 columns">
            <h4>Flextronics</h4>
            <ul class="ratings">
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating"></li>
            </ul>
            <span>(221)</span>
            <p>Agriculture,Large Commercial Property,Data Centers,Food Processing,Food Service,Government,Hi-Tech/Biotech/Clean Tech,Manufacturing,Oil and Gas,Processing,Schools,Transportation,Warehouses,Water Treatment,Wineries/Breweries/Distilleries</p>
          </div>
          <div class="small-3 columns">
            <a href="" class="button">View</a>
          </div>
        </div>
        <div class="row contractor">
          <div class="small-8 columns">
            <h4>Dollens Electric Corp.</h4>
            <ul class="ratings">
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating"></li>
            </ul>
            <span>(210)</span>
            <p>Agriculture, Small Commercial Property, Dairies, Data Centers, Hi-Tech/Biotech/Clean Tech, Manufacturing, Multifamily/Residential, Warehouses, Whole Building Solutions</p>
          </div>
          <div class="small-4 columns">
            <a href="" class="button">View</a>
          </div>
        </div>
        <div class="row contractor">
          <div class="small-8 columns">
            <h4>Isaiah Electric</h4>
            <ul class="ratings">
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating"></li>
              <li class="rating"></li>
            </ul>
            <span>(184)</span>
            <p>Multifamily/Residential</p>
          </div>
          <div class="small-4 columns">
            <a href="" class="button">View</a>
          </div>
        </div>
        <div class="row contractor">
          <div class="small-8 columns">
            <h4>Electrical Distributors Company</h4>
            <ul class="ratings">
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating"></li>
            </ul>
            <span>(81)</span>
            <p>Agriculture, Large Commercial Property, Small Commercial Property, Dairies, Data Centers, Food Processing, Food Service, Government, Hi-Tech/Biotech/Clean Tech, Hospitals/Medical Office Buildings, Hotels and Hospitality, Manufacturing, Multifamily/Residential, Oil and Gas</p>
          </div>
          <div class="small-4 columns">
            <a href="" class="button">View</a>
          </div>
        </div>
        <div class="row contractor">
          <div class="small-8 columns">
            <h4>Comfort International, Inc.</h4>
            <ul class="ratings">
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating"></li>
            </ul>
            <span>(65)</span>
            <p>Large Commercial Property, Small Commercial Property, Data Centers, Government, Hi-Tech/Biotech/Clean Tech, Hospitals/Medical Office Buildings, Hotels and Hospitality, Manufacturing, Oil and Gas, Processing, Schools, Transportation, Warehouses, Water Treatment, Wineries/Breweries/Distilleries</p>
          </div>
          <div class="small-4 columns">
            <a href="" class="button">View</a>
          </div>
        </div>
        <div class="row contractor">
          <div class="small-8 columns">
            <h4>Double T Electric, Inc</h4>
            <ul class="ratings">
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating"></li>
              <li class="rating"></li>
              <li class="rating"></li>
            </ul>
            <span>(93)</span>
            <p>Small Commercial Property</p>
          </div>
          <div class="small-4 columns">
            <a href="" class="button">View</a>
          </div>
        </div>
        <div class="row contractor">
          <div class="small-8 columns">
            <h4>Wil-Cal Lighting Management</h4>
            <ul class="ratings">
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating"></li>
              <li class="rating"></li>
              <li class="rating"></li>
            </ul>
            <span>(93)</span>
            <p>Large Commercial Property, Small Commercial Property, Data Centers, Hi-Tech/Biotech/Clean Tech, Hospitals/Medical Office Buildings, Manufacturing, Warehouses</p>
          </div>
          <div class="small-4 columns">
            <a href="" class="button">View</a>
          </div>
        </div>
        <div class="row contractor">
          <div class="small-8 columns">
            <h4>Consolidated Electrical Distributors</h4>
            <ul class="ratings">
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating"></li>
              <li class="rating"></li>
              <li class="rating"></li>
            </ul>
            <span>(93)</span>
            <p>Large Commercial Property, Small Commercial Property, Food Processing, Government, Hospitals/Medical Office Buildings, Hotels and Hospitality, Manufacturing, Multifamily/Residential, Schools, Transportation, Warehouses, Wineries/Breweries/Distilleries</p>
          </div>
          <div class="small-4 columns">
            <a href="" class="button">View</a>
          </div>
        </div>
        <div class="row contractor">
          <div class="small-8 columns">
            <h4>Tenant Improvement Masters</h4>
            <ul class="ratings">
              <li class="rating active"></li>
              <li class="rating active"></li>
              <li class="rating"></li>
              <li class="rating"></li>
              <li class="rating"></li>
            </ul>
            <span>(93)</span>
            <p>Small Commercial Property, Hotels and Hospitality, Multifamily/Residential, Schools, Whole Building Solutions</p>
          </div>
          <div class="small-4 columns">
            <a href="" class="button">View</a>
          </div>
        </div>
      </section>
    </div>
    </div>
  </div>
</div>
