<div class="get-rewards" ng-contoller="RewardsCtrl">
  <div class="section-head">
    <div class="row">
      <div class="large-9 columns">
        <h1 class="section-heading">Ways to Save</h1>
      </div>
    </div>
  </div>
  <div class="row has-side-nav">
    <div class="large-3 columns side-nav-container" ng-include="'partials/ways-to-save/_sidebar.html'">
    </div>
    <div class="large-9 columns">
      <div class="primary-content-container">
        <div class="page-header row">
          <h2 class="large-4 columns page-heading">Claim Rewards</h2>
          <div class="large-8 columns marketplace-status" ng-include="'partials/ways-to-save/marketplace/_shopping-nav.html'">
          </div>
        </div>
        <ul class="rewards-items">
          <li ng-repeat="rewardsItem in rewardsItems">
            <div class="rewards-item">
              <div class="rewards-img" style="background-image: url(img/rewards/{{ rewardsItem.img }});"></div>
              <div class="rewards-title">{{ rewardsItem.title }}</div>
              <div class="rewards-points-amount">{{ rewardsItem.points }} Points</div>
              <div class="rewards-action">
                <a href="" class="button primary">Get this reward</a>
              </div>
              <div class="rewards-learnmore">
                <a href="">Learn more</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>