/* .alerts{
  padding:35px;

  h1{
    margin-bottom:50px;
  }

  .alerts-for{
    border: 1px solid #ccc;
    padding:35px 20px 0px 20px;
    margin:0 0 40px 0;
  }

  label{
    margin-bottom:0px;
    span{
      font-weight:bold
    }
    display:inline-block;
    font-size: rem-calc(16);
    input{
      width:250px;
      margin:0 0 0 225px;
      position:relative;
      top:-30px;
    }
  }

  .rounded-corners{
    border-radius: 5px;
    border: 5px solid darken(#eee,5);
    margin-bottom:25px;
  }

  table{
    background: darken(#eee,5);
    margin:0;
    th{
      font-weight:normal;
      color:\$heading-gray;
      &:not(:first-child){
        text-align:center;
      }
    }
    thead{
      border-bottom: 1px solid #ccc;
    }
    tr{
      border-top:none;
      border-bottom:1px solid #ccc;
      &:first-child{
        background-color:darken(#eee,5);
      }
      &:last-child{
        border-bottom:none;
      }
      td{
        padding: 15px 10px;
        &:not(:first-child){
          text-align:center;
        }
        &:last-child{
          border-bottom:0;
        }
        p{
          font-size:rem-calc(14);
          margin-bottom: 0;
        }
      }
    }
  }
}
 */
