<xml>
	<loadSchema preloader="preloader.swf" localizationXML="xml/strings.xml" fontSWF="fonts.swf" loader="loader.swf" loaderBG="img/loaderBG.jpg" audioXML="xml/soundFiles.xml" primaryBatch="primary" autoLoadQueue="" />
	
	<primary>
		<!---- swf id="childswf" file="childswf.swf" -->
		<!---- xml id="xml" file="xml.xml" -->
		<!---- img id="img" file="img.jpg" -->
		<!---- txtData id="childswf" file="txt.cvs" -->
		<audioswf id="audioSWF" file="audioswf.swf" />
		<audioLoadList groupIDQueue="music,sfx,vo" />
		<xml id="gameSettings" file="xml/settings.xml" />
		<swf id="titlescreen" file="titlescreen.swf" />
		<swf id="mainintro" file="mainintro.swf" />
		<swf id="game1" file="bowlgame.swf" />
		<swf id="game2" file="countgame.swf" />
		<swf id="game3" file="traygame.swf" />
		<swf id="gameend" file="gameend.swf" />
		
	</primary>
</xml>