<div class="" ng-show="userPrefs.isResidentialUser()">
  <!-- <label class="large-4 tip-filtering-sortby" for="tip-filtering-sortby">
    Sort by
    <select id="tip-filtering-sortby">
      <option value="Popularity" selected>Popularity</option>
      <option value="featured">Featured</option>
      <option value="alpha">A-Z</option>
    </select>
  </label> -->
  <!--<label class="large-2 tip-filtering-cost"  for="tip-filtering-cost">
    Cost
    <select id="tip-filtering-cost">
      <option value="alltips" selected>All tips</option>
      <option value="free">Free</option>
    </select>
  </label>-->
</div>

<div class="" ng-show="userPrefs.isBusinessUser()">
  <!-- <label class="large-4 tip-filtering-sortby" for="tip-filtering-sortby">
    Sort by
    <select id="tip-filtering-sortby">
      <option value="featured" selected>Payback Period</option>
      <option value="alpha">A-Z</option>
    </select>
  </label> -->
  <!--<label class="large-2 tip-filtering-cost"  for="tip-filtering-cost">
    Cost
    <select id="tip-filtering-cost">
      <option value="alltips" selected>All tips</option>
      <option value="free">Free</option>
    </select>
  </label>-->
</div>
