<div class="" ng-show="userPrefs.isResidentialUser()">
  <!-- RESIDENTIAL -->
  <strong>Based on:</strong> 647 Spruce Street &middot; 1,249 sq ft &middot; Rent &middot; Natural gas heating<br />
  <a href="" class="view-targeting-profile">View Full Profile (85% complete)</a>
</div>
<div class=""  ng-show="userPrefs.isBusinessUser()">
  <!-- SMB -->
  <strong>For a:</strong> Thai Restaurant &middot; Renter &middot; 2,423 sq ft <a>View full business profile (85% complete)</a>
</div>
<div class=""  ng-show="userPrefs.isBusinessUser()">
  <!-- SMB -->
  <strong>Based on your analysis:&nbsp;</strong><span class="geomicon-circle-check"></span>&nbsp;<a>high use during closed hours</a>,&nbsp;<a>high cooling use.</a>
</div>
