<div class="section-head">
  <div class="row">
    <div class="large-9 columns">
      <h1 class="section-heading title-case">About Osha 2nd St <a href="" class="change-business">Change business</a></h1>
    </div>
    <div class="large-3 columns">
      <a href="#/my-usage/by-category" class="save-close">Save & Close</a>
    </div>
  </div>
</div>
<div class="ways-to-save">
  <div class="row">
    <div class="large-3 columns sidebar">
        <div class="panel savings-total">
          <p>Potential Savings <strong><span count-to="1680" value="1510" duration="0.5"></span><sub>pts</sub></strong></p>
          <a href="">View My Savings Plan</a>
        </div>
        <div class="ways-save-progress-container">
        <span class="meter-3"></span>
        <h3>13 questions left</h3>
      </div>
        <ul class="prog-position">
          <li class="active"><a href="">Business Information</a></li>
          <li><a href="">Heating & Cooling</a></li>
          <li><a href="">Water Heating</a></li>
          <li><a href="">Cooking & Refrigeration</a></li>
          <li><a href="">Lighting</a></li>
          <li><a href="">Other</a></li>
        </ul>
    </div>
    <div class="large-9 columns info-details">
      <h3>Business Information 3 of 5</h3>
      <h4>When is your business open?</h4>
      <table class="oP-table">
        <thead>
          <tr>
            <th width="150">Open Hours</th>
            <th></th>
            <th width="150"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Monday</td>
            <td>9:30 am - 10:00 pm</td>
            <td><a href="">Remove</a></td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>9:30 am - 10:00 pm</td>
            <td><a href="">Remove</a></td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>9:30 am - 10:00 pm</td>
            <td><a href="">Remove</a></td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>9:30 am - 10:00 pm</td>
            <td><a href="">Remove</a></td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>9:30 am - 10:00 pm</td>
            <td><a href="">Remove</a></td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>9:30 am - 10:00 pm</td>
            <td><a href="">Remove</a></td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>9:30 am - 10:00 pm</td>
            <td><a href="">Remove</a></td>
          </tr>
        </tbody>
      </table>

      <form>
        <div class="row">
          <div class="weekday-col">
            <select id="week-day">
              <option value="Saturday">Saturday</option>
              <option value="Sunday">Sunday</option>
              <option value="Monday">Monday</option>
              <option value="Tuesday">Tuesday</option>
              <option value="Wednesday">Wednesday</option>
              <option value="Thursday">Thursday</option>
              <option value="Friday">Friday</option>
            </select>
          </div>
          <div class="weekday-col">
            <select id="day-open">
              <option value="12:00 am">12:00 am</option>
              <option value="1:00 am">1:00 am</option>
              <option value="2:00 am">2:00 am</option>
              <option value="3:00 am">3:00 am</option>
              <option value="4:00 am">4:00 am</option>
              <option value="5:00 am">5:00 am</option>
              <option value="6:00 am">6:00 am</option>
              <option value="7:00 am">7:00 am</option>
              <option value="8:00 am">8:00 am</option>
              <option selected value="9:00 am">9:00 am</option>
              <option value="10:00 am">10:00 am</option>
              <option value="11:00 am">11:00 am</option>
              <option value="12:00 pm">12:00 pm</option>
            </select>
          </div>
          <div class="weekday-col">
            <select id="day-close">
              <option value="12:00 pm">12:00 pm</option>
              <option value="1:00 pm">1:00 pm</option>
              <option value="2:00 pm">2:00 pm</option>
              <option value="3:00 pm">3:00 pm</option>
              <option value="4:00 pm">4:00 pm</option>
              <option selected value="5:00 pm">5:00 pm</option>
              <option value="6:00 pm">6:00 pm</option>
              <option value="7:00 pm">7:00 pm</option>
              <option value="8:00 pm">8:00 pm</option>
              <option value="9:00 pm">9:00 pm</option>
              <option value="10:00 pm">10:00 pm</option>
              <option value="11:00 pm">11:00 pm</option>
              <option value="12:00 am">12:00 am</option>
            </select>
          </div>
        <div class="weekday-col">
          <a href="" class="button secondary add-day">Add hours</a>
        </div>
        </div>


        <div class="form-buttons">
          <a href="#/my-usage/by-category-post-audit" class="button">Next</a>
          <a href="#/ways-to-save/about-buisness-2of5" class="button secondary">Previous</a>
          <a href="#/my-usage/by-category-post-audit" class="skip-quest">Skip Question</a>
        </div>
      </form>
    </div>
  </div>
</div>
