<div class="section-head">
  <div class="row">
    <div class="large-9 columns">
      <h1 class="section-heading title-case">About Osha 2nd St <a href="" class="change-business">Change business</a></h1>
    </div>
    <div class="large-3 columns">
      <a href="#/my-usage/by-category" class="save-close">Save & Close</a>
    </div>
  </div>
</div>
<div class="ways-to-save">
  <div class="row">
    <div class="large-3 columns sidebar">
        <div class="panel savings-total">
          <p>Potential Savings <strong><span count-to="1330" value="1330" duration="0.5"></span><sub>pts</sub></strong></p>
          <a href="">View My Savings Plan</a>
        </div>
        <div class="ways-save-progress-container">
        <span class="meter-1"></span>
        <h3>14 questions left</h3>
      </div>
        <ul class="prog-position">
          <li class="active"><a href="">Business Information</a></li>
          <li><a href="">Heating & Cooling</a></li>
          <li><a href="">Water Heating</a></li>
          <li><a href="">Cooking & Refrigeration</a></li>
          <li><a href="">Lighting</a></li>
          <li><a href="">Other</a></li>
        </ul>
    </div>
    <div class="large-9 columns info-details">
      <h3>Business Information 1 of 5</h3>
      <h4>Please confirm your business type:</h4>
      <form>
        <div class="row drop-down">
          <div class="large-7 columns">
            <div class="row">
              <div class="label-col">
                <label for="bus-seg">Business Segment</label>
              </div>
              <div class="input-col">
                <select id="bus-seg">
                  <option value="Restaurant-Bar">Restaurants & Bars</option>
                  <option value="Grocery">Grocery Stores</option>
                  <option value="Stores">Retail Stores</option>
                  <option value="Services">Retail Services</option>
                  <option value="Offices">Offices</option>
                  <option value="Education">Education</option>
                  <option value="Healthcare">Healthcare</option>
                  <option value="Lodging">Lodging</option>
                  <option value="Religious">Religious organizations</option>
                  <option value="Warehouses">Warehouses & Storage</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row drop-down">
          <div class="large-7 columns">
            <div class="row">
              <div class="label-col">
                <label for="bus-type">Business Type</label>
              </div>
              <div class="input-col">
                <select id="bus-type">
                  <option value="Asian">Asian</option>
                  <option value="European">European</option>
                  <option value="Mexican">Mexican</option>
                  <option value="Regional">Regional American</option>
                  <option value="Traditional">Traditional American</option>
                  <option value="International">International & Eclectic</option>
                  <option value="Cafes">Cafes, Delis & Light Cuisine</option>
                  <option value="Fast-Food">Fast Food</option>
                  <option value="Bakeries">Bakeries</option>
                  <option value="Snacks">Snacks</option>
                  <option value="Cafeterias">Cafeterias and Buffets</option>
                  <option value="Bars">Bars/Pubs</option>
                  <option value="Catering">Catering</option>
                  <option value="Other">Other Food Services</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="row drop-down">
          <div class="large-7 columns">
            <div class="row">
              <div class="label-col">
                <label for="bus-sub">Business sub-type</label>
              </div>
              <div class="input-col">
                <select id="bus-sub">
                  <option value="Thai">Thai</option>
                  <option value="Dim-sum">Dim Sum</option>
                  <option value="Japanese">Japanese & Sushi</option>
                  <option value="Southeast-Asian">Southeast Asian</option>
                  <option value="Korean">Korean</option>
                  <option value="Thai">Thai</option>
                  <option value="Vietnamese">Vietnamese</option>
                  <option value="Ramen">Ramen, Pho & Noodles</option>
                  <option value="Indian">Indian</option>
                  <option value="Afghan">Afghan & Pakistani</option>
                  <option value="Mongolian">Mongolian</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-buttons">
          <a ng-class="{ 'is-active': $root.pageTitle === 'Ways to Save' }" href="#/ways-to-save/about-buisness-2of5" class="button">Next</a>
          <!-- <a href="" class="button secondary">Previous</a> --><!--no previous on first screen?-->
          <a href="" class="skip-quest">Skip Question</a>
        </div>
      </form>
    </div>
  </div>
</div>
