<div class="section-head">
  <div class="row">
    <div class="large-9 columns">
      <h1 class="section-heading title-case">About Osha 2nd St <a href="" class="change-business">Change business</a></h1>
    </div>
    <div class="large-3 columns">
      <a href="#/my-usage/by-category" class="save-close">Save & Close</a>
    </div>
  </div>
</div>
<div class="ways-to-save">
  <div class="row">
    <div class="large-3 columns sidebar">
        <div class="panel savings-total">
          <p>Potential Savings <strong><span count-to="1510" value="1330" duration="0.5"></span><sub>pts</sub></strong></p>
          <a href="">View My Savings Plan</a>
        </div>
        <div class="ways-save-progress-container">
          <span class="meter-2"></span>
          <h3>13 questions left</h3>
        </div>
        <ul class="prog-position">
          <li class="active"><a href="">Business Information</a></li>
          <li><a href="">Heating & Cooling</a></li>
          <li><a href="">Water Heating</a></li>
          <li><a href="">Cooking & Refrigeration</a></li>
          <li><a href="">Lighting</a></li>
          <li><a href="">Other</a></li>
        </ul>
    </div>
    <div class="large-9 columns info-details">
      <h3>Business Information 2 of 5</h3>
      <h4>How many employees does your business have?</h4>
      <form>
        <div class="row counter-toggle">
          <div class="large-8 columns">
            <div class="row">
              <div class="label-col">
                <label for="full-time">Full-time employees:</label>
              </div>
              <div class="input-col">
                <a href="" class="toggle-button subtract"></a>
                <input class="oP-input" type="text" id="full-time" placeholder="10">
                <a href="" class="toggle-button add"></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row counter-toggle">
          <div class="large-8 columns">
            <div class="row">
              <div class="label-col">
                <label for="part-time">Part-time employees:</label>
              </div>
              <div class="input-col">
                <a href="" class="toggle-button subtract"></a>
                <input class="oP-input" type="text" id="full-time" placeholder="10">
                <a href="" class="toggle-button add"></a>
              </div>
            </div>
          </div>
        </div>

        <div class="form-buttons">
          <a ng-class="{ 'is-active': $root.pageTitle === 'Ways to Save' }" href="#/ways-to-save/about-buisness-3of5" class="button">Next</a>
          <a ng-class="{ 'is-active': $root.pageTitle === 'Ways to Save' }" href="#/ways-to-save" class="button secondary">Previous</a>
          <a href="" class="skip-quest">Skip Question</a>
        </div>
      </form>
    </div>
  </div>
</div>
