<div class="replace-lights">
  <div class="section-head">
    <div class="row">
      <div class="large-9 columns">
        <h1 class="section-heading">Ways to Save</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="primary-content-container">

      <div class="page-header row">
        <h2 class="large-12 columns page-heading">Replace inefficient lights with T8 or T5 fluorescent tubes</h2>
        <a href="#/ways-to-save/smart-purchases" class="large-12 columns breadcrumb-back">Back to <strong>My savings plan</strong></a>
        <div class="page-actions" ng-include="'partials/_page-actions.html'"></div>
      </div>

      <div class="slab product-meta">
        <h4><span class="geomicon geomicon-cart"></span>How to buy fluorescent tubes</h4>
        <div class="row">
          <div class="large-10 columns">
            <div class="product-instructions">
              <div class="lighting-banner"></div>
              <h5>What to do next<h5>
                <p>Take an inventory of the lights in your restaurant and start by replacing any incandescent light bulbs. Talk with a lighting contractor or visit your local hardware store to discuss your building’s lighting needs. After you switch out your lights, track your energy savings in future reports.</p>
              <h5>Additional Benefits<h5>
              <ul>
                <li>Replace lights less often as bulbs have a longer lifetime.</li>
                <li>A cooler restaurant - these lights generate less heat.</li>
              </ul>
              <h5>Additional Benefits<h5>
              <ul>
                <li>Fluorescent bulb considerations</li>
                <li>Bulb shape: T12, T8, T5, T10, Circline, U-bent</li>
                <li>Bulb length: 12 in, 24 in, 48 in, 60 in, 96 in</li>
                <li>Light color: Bright White, Soft white, Cool white, Daylight</li>
              </ul>
            </div>
          </div>
          <div class="large-2 columns product-facts">
            <div class="product-fact">
              <div class="fact-header">
                <div class="fact-heading">
                  Save up to
                </div>
              </div>
              <strong class="amount">$264<sub>/yr</sub></strong>
            </div>
            <div class="product-fact">
              <div class="fact-header">
                <div class="fact-heading">
                  Save up to
                </div>
              </div>
              <strong class="amount">$22<sub>/month</sub></strong>
            </div>
            <div class="product-fact">
              <div class="fact-header">
                <div class="fact-heading">
                  Payback period*
                </div>
              </div>
              <strong class="amount">18<sub> months</sub></strong>
            </div>
            <div class="product-fact">
              <div class="fact-header">
                <div class="fact-heading">
                  Estimated ROI*
                </div>
              </div>
              <strong class="amount">890%</strong>
            </div>
            <div class="product-fact">
              <strong class="amount appears-above">2,930</strong>
              <div class="fact-header">
                <div class="fact-heading">
                  Restaurants do this
                </div>
              </div>
            </div>
            <div class="product-footnote">
              *Based on <a href="">Your business profile</a> and analysis of your energy trends
            </div>
          </div>
        </div>
      </div>

      <div class="slab product-meta rebate-available">
        <h4><span class="geomicon geomicon-tag-alt"></span>PG&E Lighting Rebate available</h4>
        <div class="row">
          <div class="large-2 columns">
            <a href="" class="catalog-download">
              <div class="catalog"></div>
              Download
            </a>
          </div>
          <div class="large-10 columns">
            <div class="rebate-detail">
              <p>Because lighting systems can be expensive to update, PG&E offers two kinds of rebates to help you defray costs:</p>
              <p><strong>1. Replacement Lamp Incentives.</strong><br />
                Earn instant rebates from participating lighting distributors when you purchase and install qualifying replacement lamps.</p>
              <p><strong>2. Replacement Fixture And Retrofit Kit Incentives..</strong><br />
                These rebates are designed to help cover the installation costs of qualifying fixtures or kits. Our Lighting Rebate Catalog has details on how to take advantage of these rebates. You can also apply and check the status of your rebate online through our eRebates program.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="slab product-contractors product-meta">
        <h4><span class="geomicon geomicon-location-alt"/></span>Lighting contractors that can help</h4>
        <div class="key">Rating</div>
        <ul class="product-meta-list">
          <li>
            <div class="product-ratings">
              <span class="marketplace-stars"></span>
              <a href="" class="marketplace-ratings-link">(4)</a>
            </div>
            <div class="contractor-title">New Light Energy Design</div>
            <div class="contractor-description">Specialize in: Installation, Interior Linear Fluorescent Fixtures, Bi-Level Stairwell/Hall/Garage Fixtures</div>
          </li>
          <li>
            <div class="product-ratings">
              <span class="marketplace-stars"></span>
              <a href="" class="marketplace-ratings-link">(6)</a>
            </div>
            <div class="contractor-title">CodeGreen Solutions, Inc.</div>
            <div class="contractor-description">Specialize in: Servicing/Retrocommissioning, Interior Linear Fluorescent Fixtures</div>
          </li>
          <li>
            <div class="product-ratings">
              <span class="marketplace-stars"></span>
              <a href="" class="marketplace-ratings-link">(1)</a>
            </div>
            <div class="contractor-title">New Light Energy Design</div>
            <div class="contractor-description">Specialize in: Services: Installation, Compact Fluorescent Fixtures, Interior Induction Fixtures</div>
          </li>
        </ul>
        <p class="product-learnmore"><a href="#/ways-to-save/marketplace/services">Show all</a></p>
      </div>

      <div class="slab product-meta compare-products">
        <h4><span class="geomicon geomicon-tag-alt"></span>Marketplace: Compare products</h4>
        <div class="row">
          <div class="large-4 columns">
            <a href="" class="comparable-product">
              <div class="comparable-product-thumb">
                <div class="img" style="background-image: url(img/smart-purchases/tube1.png)"></div>
              </div>
              <div class="comparable-product-title">
                Phillips T8 32-Watt Daylight Deluxe fluorescent tube
                <span class="comparable-product-price">$33.97</span>
              </div>
            </a>
          </div>
          <div class="large-4 columns">
            <a href="" class="comparable-product">
              <div class="comparable-product-thumb">
                <div class="img" style="background-image: url(img/smart-purchases/tube2.png)"></div>
              </div>
              <div class="comparable-product-title">
                Philips T12 40-Watt Cool White Supreme fluorescent tube
                <span class="comparable-product-price">$19.97</span>
              </div>
            </a>
          </div>
          <div class="large-4 columns">
            <a href="" class="comparable-product">
              <div class="comparable-product-thumb">
                <div class="img" style="background-image: url(img/smart-purchases/tube3.png)"></div>
              </div>
              <div class="comparable-product-title">
                Philips T12 40-Watt Cool White U-Bent fluorescent tube
                <span class="comparable-product-price">$19.97</span>
              </div>
            </a>
          </div>
        </div>
        <p class="product-learnmore"><a href="">View All fluorescent tubes</a></p>
      </div>

    </div>
    </div>
  </div>
</div>