<section class="account">
  <div class="row">
    <div class="small-10 columns small-centered">
      <h2>Manage My Account</h2>
      <h3>Please update the fields below.</h3>
    </div>
  </div>
  <form action="" method="post"
    ng-submit="$event.preventDefault()"
    novalidate>
    <div class="text-inputs row">
      <div class="medium-offset-1 medium-5 columns">
        <input class="person better-placeholder" type="text" name="firstName" placeholder="First Name"
               ng-model="signUpFormData.firstName"
               required />
      </div>
      <div class="medium-5 columns">
        <input class="person better-placeholder" type="text" name="lastName" placeholder="Last Name"
               ng-model="signUpFormData.lastName"
               required />
      </div>
      <div class="medium-offset-1 medium-10 columns">
        <input class="email better-placeholder" type="email" name="newEmail" placeholder="Email"
               ng-model="signUpFormData.newEmail"
               required />
      </div>
      <div class="medium-offset-1 medium-10 columns">
        <input class="password better-placeholder" type="password" name="currentPassword" placeholder="Current Password"
               ng-model="signUpFormData.currentPassword"
               required />
      </div>
      <div class="medium-offset-1 medium-5 columns">
        <input class="password better-placeholder" type="password" name="newPassword" placeholder="Password"
               ng-model="signUpFormData.newPassword"
               required />
      </div>
      <div class="medium-pull-1 medium-5 columns">
        <input class="password better-placeholder" type="password" name="newPasswordConfirm" placeholder="Confirm Password"
               ng-model="signUpFormData.newPasswordConfirm"
               required />
      </div>
    </div>
  </form>
  <div class="row save-changes">
    <div class="small-12 medium-8 columns small-centered">
      <a class="button">Save&nbsp;Changes</a>
      <a class="reset" href="#">Reset, Cancel</a>
    </div>
  </div>
</section>
<footer ng-include="'main/footer.html'"></footer>
