<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Counter_1</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,89}</string>
				<key>spriteSourceSize</key>
				<string>{105,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{105,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Counter_2</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,89}</string>
				<key>spriteSourceSize</key>
				<string>{105,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,91},{105,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Counter_3</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,89}</string>
				<key>spriteSourceSize</key>
				<string>{105,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,182},{105,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Counter_4</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,89}</string>
				<key>spriteSourceSize</key>
				<string>{105,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,273},{105,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Counter_5</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,89}</string>
				<key>spriteSourceSize</key>
				<string>{105,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,364},{105,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Counter_6</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,89}</string>
				<key>spriteSourceSize</key>
				<string>{105,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,455},{105,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Counter_7</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,89}</string>
				<key>spriteSourceSize</key>
				<string>{105,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,546},{105,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Counter_8</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,89}</string>
				<key>spriteSourceSize</key>
				<string>{105,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,637},{105,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Counter_9</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,89}</string>
				<key>spriteSourceSize</key>
				<string>{105,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,728},{105,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Counter_10</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,89}</string>
				<key>spriteSourceSize</key>
				<string>{105,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,819},{105,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Counter_Fish</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,89}</string>
				<key>spriteSourceSize</key>
				<string>{105,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,910},{105,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{105,999}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>s_counter.png</string>
				<key>textureFileName</key>
				<string>s_counter</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
