<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>george0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,869},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,1738},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,2607},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{519,0},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{519,869},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{519,1738},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{519,2607},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1038,0},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1557,0},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2076,0},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2595,0},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3114,0},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1038,869},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1038,1738},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1038,2607},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1557,869},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1557,1738},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1557,2607},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2076,869},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2595,869},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>george0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{519,869}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{519,869}</string>
				<key>spriteSourceSize</key>
				<string>{519,869}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{3114,869},{519,869}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{4096,4096}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>george.png</string>
				<key>textureFileName</key>
				<string>george</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
