<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>elephant0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0001</key>
			<dict>
				<key>frame</key>
				<string>{{400,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0002</key>
			<dict>
				<key>frame</key>
				<string>{{800,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0003</key>
			<dict>
				<key>frame</key>
				<string>{{1200,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0004</key>
			<dict>
				<key>frame</key>
				<string>{{1600,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0005</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0006</key>
			<dict>
				<key>frame</key>
				<string>{{400,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0007</key>
			<dict>
				<key>frame</key>
				<string>{{800,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0008</key>
			<dict>
				<key>frame</key>
				<string>{{1200,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0009</key>
			<dict>
				<key>frame</key>
				<string>{{1600,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0011</key>
			<dict>
				<key>frame</key>
				<string>{{400,800},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0013</key>
			<dict>
				<key>frame</key>
				<string>{{400,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0014</key>
			<dict>
				<key>frame</key>
				<string>{{800,800},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0015</key>
			<dict>
				<key>frame</key>
				<string>{{1200,800},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0016</key>
			<dict>
				<key>frame</key>
				<string>{{1600,800},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0017</key>
			<dict>
				<key>frame</key>
				<string>{{0,1200},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0018</key>
			<dict>
				<key>frame</key>
				<string>{{400,1200},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0019</key>
			<dict>
				<key>frame</key>
				<string>{{800,1200},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0020</key>
			<dict>
				<key>frame</key>
				<string>{{1200,1200},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0021</key>
			<dict>
				<key>frame</key>
				<string>{{1600,1200},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0022</key>
			<dict>
				<key>frame</key>
				<string>{{0,1600},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0023</key>
			<dict>
				<key>frame</key>
				<string>{{400,1600},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0024</key>
			<dict>
				<key>frame</key>
				<string>{{800,1600},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0025</key>
			<dict>
				<key>frame</key>
				<string>{{1200,1600},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0026</key>
			<dict>
				<key>frame</key>
				<string>{{1600,1600},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0027</key>
			<dict>
				<key>frame</key>
				<string>{{0,2000},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0028</key>
			<dict>
				<key>frame</key>
				<string>{{400,2000},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0029</key>
			<dict>
				<key>frame</key>
				<string>{{0,1200},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0030</key>
			<dict>
				<key>frame</key>
				<string>{{400,1200},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0031</key>
			<dict>
				<key>frame</key>
				<string>{{800,1200},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0032</key>
			<dict>
				<key>frame</key>
				<string>{{1200,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0033</key>
			<dict>
				<key>frame</key>
				<string>{{1600,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0034</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0035</key>
			<dict>
				<key>frame</key>
				<string>{{400,800},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0036</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0037</key>
			<dict>
				<key>frame</key>
				<string>{{400,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0038</key>
			<dict>
				<key>frame</key>
				<string>{{800,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0039</key>
			<dict>
				<key>frame</key>
				<string>{{1200,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0040</key>
			<dict>
				<key>frame</key>
				<string>{{1600,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0041</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0042</key>
			<dict>
				<key>frame</key>
				<string>{{400,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0043</key>
			<dict>
				<key>frame</key>
				<string>{{800,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0044</key>
			<dict>
				<key>frame</key>
				<string>{{1200,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0045</key>
			<dict>
				<key>frame</key>
				<string>{{1600,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0046</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0047</key>
			<dict>
				<key>frame</key>
				<string>{{400,800},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0048</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0049</key>
			<dict>
				<key>frame</key>
				<string>{{400,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0050</key>
			<dict>
				<key>frame</key>
				<string>{{800,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0051</key>
			<dict>
				<key>frame</key>
				<string>{{1200,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0052</key>
			<dict>
				<key>frame</key>
				<string>{{1600,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0053</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0054</key>
			<dict>
				<key>frame</key>
				<string>{{400,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0055</key>
			<dict>
				<key>frame</key>
				<string>{{800,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0056</key>
			<dict>
				<key>frame</key>
				<string>{{1200,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0057</key>
			<dict>
				<key>frame</key>
				<string>{{1600,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0058</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0059</key>
			<dict>
				<key>frame</key>
				<string>{{400,800},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0060</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0061</key>
			<dict>
				<key>frame</key>
				<string>{{400,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0062</key>
			<dict>
				<key>frame</key>
				<string>{{800,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0063</key>
			<dict>
				<key>frame</key>
				<string>{{1200,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0064</key>
			<dict>
				<key>frame</key>
				<string>{{1600,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0065</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0066</key>
			<dict>
				<key>frame</key>
				<string>{{400,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0067</key>
			<dict>
				<key>frame</key>
				<string>{{800,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0068</key>
			<dict>
				<key>frame</key>
				<string>{{1200,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0069</key>
			<dict>
				<key>frame</key>
				<string>{{1600,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0070</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0071</key>
			<dict>
				<key>frame</key>
				<string>{{400,800},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0072</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0073</key>
			<dict>
				<key>frame</key>
				<string>{{400,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0074</key>
			<dict>
				<key>frame</key>
				<string>{{800,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0075</key>
			<dict>
				<key>frame</key>
				<string>{{1200,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0076</key>
			<dict>
				<key>frame</key>
				<string>{{1600,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0077</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0078</key>
			<dict>
				<key>frame</key>
				<string>{{400,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0079</key>
			<dict>
				<key>frame</key>
				<string>{{800,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0080</key>
			<dict>
				<key>frame</key>
				<string>{{1200,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0081</key>
			<dict>
				<key>frame</key>
				<string>{{1600,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0082</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0083</key>
			<dict>
				<key>frame</key>
				<string>{{400,800},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0084</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0085</key>
			<dict>
				<key>frame</key>
				<string>{{400,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0086</key>
			<dict>
				<key>frame</key>
				<string>{{800,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0087</key>
			<dict>
				<key>frame</key>
				<string>{{1200,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0088</key>
			<dict>
				<key>frame</key>
				<string>{{1600,0},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0089</key>
			<dict>
				<key>frame</key>
				<string>{{0,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0090</key>
			<dict>
				<key>frame</key>
				<string>{{400,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0091</key>
			<dict>
				<key>frame</key>
				<string>{{800,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0092</key>
			<dict>
				<key>frame</key>
				<string>{{1200,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0093</key>
			<dict>
				<key>frame</key>
				<string>{{1600,400},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0094</key>
			<dict>
				<key>frame</key>
				<string>{{0,800},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
			<key>elephant0095</key>
			<dict>
				<key>frame</key>
				<string>{{400,800},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>elephant.png</string>
			<key>size</key>
			<string>{2048,4096}</string>
			<key>textureFileName</key>
			<string>elephant.png</string>
		</dict>
	</dict>
</plist>
