<div class="savings-plan">
  <div class="section-head">
    <div class="row">
      <div class="large-9 columns">
        <h1 class="section-heading">Ways to Save</h1>
      </div>
    </div>
  </div>
  <div class="row has-side-nav">
    <div class="large-3 columns side-nav-container" ng-include="'partials/ways-to-save/_sidebar.html'">
    </div>
    <div class="large-9 columns">
      <div class="primary-content-container">
      <div class="row">
        <div class="large-12 columns">
        <div class="row">
          <div class="large-12 columns">
            <h2 class="page-heading title-case">My savings plan: Smart purchases</h2>
          </div>
        </div>
        <div class="tip-targeting" ng-include="'partials/ways-to-save/_tip-targeting.html'"></div>
      </div>
      </div>
      <div class="border-bottom">
        <div class="row">
          <!-- <div class="large-6 columns">
            <div class="tip-filtering no-border" ng-include="'partials/ways-to-save/_tip-filtering.html'"></div>
          </div> -->
          <div class="large-12 columns">
            <div class="page-actions align-with-dropdown" ng-include="'/partials/_page-actions.html'"></div>
          </div>
        </div>
      </div>

       <!-- LIGHT TIMERS SMB -->
      <section ng-show="userPrefs.isBusinessUser()">
      <div class="row top-margin-20">
        <div class="large-1 columns no-padding">
          <div class="custom-checkbox">
            <input name="checkbox" type="checkbox" id="checkbox1">
            <label for="checkbox1" class="custom checkbox"></label>
          </div>
        </div>
        <div class="large-8 columns">
          <h4>Install light timers and sensors</h4>
          <p>Your estimated payback period: 8 months</p>
        </div>
        <div class="large-3 columns">
          <a class="button is-active">Learn More</a>
          </br>
          <a>Remove from plan</a>
        </div>
      </div>
      <div class="row top-margin-20">

        <div class="large-4 columns">
          <div class="product">
          <div class="text-center image-170">
            <img src="img/smart-purchases/timer1.png" height="150" width="125"/>
          </div>
          <div class="text-center">
            <p class="text-black">Defiant Digital</br>Countdown Timer</br>$19.97</p>
          </div>
          </div>
        </div>

        <div class="large-4 columns">
          <div class="product">
          <div class="text-center image-170">
            <img src="img/smart-purchases/timer2.png" height="150" width="125"/>
          </div>
          <div class="text-center">
            <p class="text-black">Intermatic Electromechanical</br>Time Switch</br>$48.98</p>
          </div>
          </div>
        </div>

        <div class="large-4 columns">
          <div class="product">
          <div class="text-center image-170">
            <img src="img/smart-purchases/timer3.png" height="150" width="125"/>
          </div>
          <div class="text-center">
            <p class="text-black">Honeywell Programable</br>Solar Switch for Lights</br>$48.99</p>
          </div>
          </div>
        </div>

      </div>

      <div class="row top-margin-20">
        <div class="large-5 large-centered columns text-center">
          <a href="">View all timers and powerstrips</a>
        </div>
      </div>
      </section>
      <!-- END LIGHT TIMERS -->
      <!-- INNEFICIENT LIGHTS SECTION SMB -->
      <section ng-show="userPrefs.isBusinessUser()">
      <div class="row top-margin-20">
        <div class="large-1 columns no-padding">
          <div class="custom-checkbox">
            <input name="checkbox" type="checkbox" id="checkbox1">
            <label for="checkbox1" class="custom checkbox"></label>
          </div>
        </div>
        <div class="large-8 columns">
          <h4>Replace inefficient light with T8 and T5
          </br>fluorescent tubes</h4>
          <p>Your estimated payback period: 1-2 years</p>
        </div>
        <div class="large-3 columns">
          <a href="#/ways-to-save/replace-lights" class="button is-active">Learn More</a>
          </br>
          <a>Remove from plan</a>
        </div>
      </div>
      <div class="row top-margin-20">
        <div class="large-4 columns big">
          <div class="product big">
          <div class="text-center image-200 top-padding-80 ">
            <img src="img/smart-purchases/tube1.png" height="150" width="125"/>
          </div>
          <div class="text-center">
            <p class="text-black">Phillips T8 38-Watt Daylight</br>Deluxe fluorescent tube</br>$33.97</p>
          </div>
          </div>
        </div>
        <div class="large-4 columns big">
          <div class="product big">
          <div class="text-center image-200 top-padding-80 ">
            <img src="img/smart-purchases/tube2.png" height="150" width="125"/>
          </div>
          <div class="text-center">
            <p class="text-black">Phillips T12 40-Watt Cool</br>White Supreme fluorescent tube</br>$19.57</p>
          </div>
          </div>
        </div>
        <div class="large-4 columns big">
          <div class="product big">
          <div class="text-center image-200 ">
            <img src="img/smart-purchases/tube3.png" height="150" width="125"/>
          </div>
          <div class="text-center">
            <p class="text-black">Phillips T12 40-Watt Cool</br>White U-Bent fluorescent tube</br>$19.57</p>
          </div>
          </div>
        </div>
      </div>

      <div class="row top-margin-20">
        <div class="large-5 large-centered columns text-center">
          <a>View all fluorescent tubes</a>
        </div>
      </div>
      </section>
      <!-- END POWER STRIPS SECTION -->
      <!-- THERMOSTATS SECTION -->
      <section>
      <div class="row top-margin-20">
        <div class="large-1 columns no-padding">
          <div class="custom-checkbox">
            <input name="checkbox" type="checkbox" id="checkbox1">
            <label for="checkbox1" class="custom checkbox"></label>
          </div>
        </div>
        <div class="large-8 columns">
          <h4>Install a programable Thermostat</h4>
          <p ng-show="userPrefs.isResidentialUser()"><img src="img/smart-purchases/tiny-person.png" height="18" width="18"/>26,158 people do this</p>
          <p ng-show="userPrefs.isBusinessUser()">Your estimated payback period: 2 years</p>
        </div>
        <div class="large-3 columns">
          <a class="button is-active">Learn More</a>
          </br>
          <a>Remove from plan</a>
        </div>
      </div>

      <div class="row top-margin-20">
        <div class="large-4 columns">
          <div class="product">
          <div class="thermostat">
            <img src="img/smart-purchases/thumb-honeywell1.png"/>
          </div>
          <div class="text-center">
            <p class="text-black">Honeywell WiFi</br>Thermostat</p>
            <a class="green-button">Free after rebate</a>
          </div>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="product">
          <div class="thermostat">
            <img src="img/smart-purchases/thumb-lyric.png"/>
          </div>
          <div class="text-center">
            <p class="text-black">Honeywell Lyric</br>Thermostat</p>
            <a class="green-button">$149 after rebate</a>
          </div>
          </div>
        </div>
        <div class="large-4 columns">
          <a class="product" href="#/ways-to-save/marketplace/nest">
          <div class="thermostat">
            <img src="img/smart-purchases/thumb-nest.png"/>
          </div>
          <div class="text-center">
            <p class="text-black">Nest Learning</br>Thermostat</p>
            <span class="green-button">$199 after rebate</span>
          </div>
          </a>
        </div>
      </div>

      <div class="row top-margin-20">
        <div class="large-5 large-centered columns text-center">
          <a href="#/ways-to-save/marketplace">View All Thermostats</a>
        </div>
      </div>
      </section>
      <!-- END THERMOSTAT SECTION -->
      <!-- BULB SECTION -->
      <section ng-show="userPrefs.isResidentialUser()">
      <div class="row top-margin-20">
        <div class="large-1 columns no-padding">
          <div class="custom-checkbox">
            <input name="checkbox" type="checkbox" id="checkbox1">
            <label for="checkbox1" class="custom checkbox"></label>
          </div>
        </div>
        <div class="large-8 columns">
          <h4>Replace inefficient lights with LED lightbulbs</h4>
          <p><img src="img/smart-purchases/tiny-person.png" height="18" width="18"/>12,893 people do this</p>
        </div>
        <div class="large-3 columns">
          <a class="button is-active">Learn More</a>
          </br>
          <a>Remove from plan</a>
        </div>
      </div>
      <div class="row top-margin-20">
        <div class="large-4 columns">
          <div class="product">
          <div class="text-center">
            <img src="img/smart-purchases/bulb1.png" height="150" width="100"/>
          </div>
          <div class="text-center">
            <p class="text-black">Phillips SlimStyle 60W</br>equivalent LED light bulb</br>$8.97</p>
          </div>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="product">
          <div class="text-center">
            <img src="img/smart-purchases/bulb2.png" height="150" width="100"/>
          </div>
          <div class="text-center">
            <p class="text-black">Cree 60W equivalent</br>LED light bulb</br>$9.97</p>
          </div>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="product">
          <div class="text-center">
            <img src="img/smart-purchases/bulb3.png" height="150" width="100"/>
          </div>
          <div class="text-center">
            <p class="text-black">EcoSmart 40W equivalent</br>LED light bulb</br>$10.97</p>
          </div>
          </div>
        </div>
      </div>

      <div class="row top-margin-20">
        <div class="large-3 large-centered columns text-center">
          <a>View All Lightbulbs</a>
        </div>
      </div>
      </section>
      <!-- END BULB SECTION -->
      <!-- POWER STRIPS SECTION -->
      <section ng-show="userPrefs.isResidentialUser()">
      <div class="row top-margin-20">
        <div class="large-1 columns no-padding">
          <div class="custom-checkbox">
            <input name="checkbox" type="checkbox" id="checkbox1">
            <label for="checkbox1" class="custom checkbox"></label>
          </div>
        </div>
        <div class="large-8 columns">
          <h4>Install power strips</h4>
          <p><img src="img/smart-purchases/tiny-person.png" height="18" width="18"/>8,352 people do this</p>
        </div>
        <div class="large-3 columns">
          <a class="button is-active">Learn More</a>
          </br>
          <a>Remove from plan</a>
        </div>
      </div>
      <div class="row top-margin-20">
        <div class="large-4 columns">
          <div class="product">
          <div class="text-center">
            <img src="img/smart-purchases/power1.png" height="150" width="125"/>
          </div>
          <div class="text-center">
            <p class="text-black">Belkin 6-outlet</br>Powerstrip</br>$4.97</p>
          </div>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="product">
          <div class="text-center">
            <img src="img/smart-purchases/power2.png" height="150" width="125"/>
          </div>
          <div class="text-center">
            <p class="text-black">Belkin 6-outlet Wall</br>Mount surge protector</br>$9.57</p>
          </div>
          </div>
        </div>
        <div class="large-4 columns">
          <div class="product">
          <div class="text-center">
            <img src="img/smart-purchases/power3.png" height="150" width="125"/>
          </div>
          <div class="text-center">
            <p class="text-black">Defiant 10 Outlet</br>Metal surge protector</br>$37.37</p>
          </div>
          </div>
        </div>
      </div>

      <div class="row top-margin-20">
        <div class="large-3 large-centered columns text-center">
          <a>View All Powerstrips</a>
        </div>
      </div>
      </section>
      <!-- END POWER STRIPS SECTION -->



      <div class="top-margin-20">
        <a class="triangle">Show all recommendations</a>
      </div>

    </div>

  </div>
</div>
