<div class="my-usage">
  <div class="section-head">
    <div class="row">
      <div class="large-9 columns">
        <h1 class="section-heading">My Usage</h1>
      </div>
    </div>
  </div>
  <div class="row has-side-nav">
    <div class="large-3 columns side-nav-container">
      <ul class="custom-side-nav">
        <li class="over-time">
          <a href="#/my-usage"><span class="geomicon-line-graph"></span>Over Time</a>
        </li>
        <li class="by-category active"><a href="#/my-usage/by-category"><span class="geomicon-pie-chart"></span>By Category</a>
        </li>
        <li class="bill-comparison"><a href=""><span class="geomicon-cash"></span>Bill Compare</a>
        </li>
      </ul>
    </div>
    <!--end of large-3-->
    <div class="large-9 columns">
      <div class="primary-content-container">

      <!--business user title-->
      <div class="business-filters" ng-show="userPrefs.isBusinessUser()">
        <div class="row">
          <div class="small-12 columns">
            <h2 class="page-heading">Energy breakdown by category</h2>
          </div>
        </div>
        <div class="row">
          <div class="large-4 columns">
            <label>Meters
              <select ng-model="location" ng-init="location = 'osha-2'">
                  <option value="osha-2">Osha 2nd st - All meters</option>
                  <option value="option-2">Osha 2nd st - Main building</option>
                  <option value="option-3">Osha 2nd st - Back Patio</option>
                  <option value="option-3">Osha Tenderloin</option>
                  <option value="option-3">Osha Mission</option>
                  <option value="option-3">Osha 3rd St</option>
                  <option value="option-3">Osha Embarcadero</option>
                  <option value="option-3">Osha Cow Hollow</option>
                  <option value="option-3">Osha Glen Park</option>
                </select>
            </label>
          </div>
          <div class="large-4 columns">
            <label>Timeframe
              <select>
                <option value="use-last-year">Last bill period</option>
                <option value="june">Jun 15 - Jul 14</option>
                <option value="may">May 15 - Jun 14</option>
                <option value="april">Apr 15 - May 14</option>
                <option value="march">Mar 16 - Apr 14</option>
                <option value="feb">Feb 16 - Mar 15</option>
                <option value="jan">Jan 15 - Feb 15</option>
              <select>
            </label>
          </div>
          <div class="large-3 columns end">
            <label>View
              <ul class="button-group chart-button-group">
                <li><a href="#/my-usage/by-category-post-audit" class="button secondary"><span class="geomicon geomicon-pie-chart"></span></a>
                </li>
                <li><a href="#/my-usage/by-category-list-post-audit" class="button secondary active"><span class="geomicon geomicon-view-list-alt"></span></a>
                </li>
              </ul>
            </label>
          </div>
        </div>
      </div>

      <!--residential user title-->
      <div class="business-filters" ng-show="userPrefs.isResidentialUser()">
        <div class="row">
          <div class="small-12 columns">
            <h2 class="page-heading">Energy breakdown by category</h2>
          </div>

          <div class="small-4 columns">
            <label>Timeframe
              <select>
                <option value="use-last-year">Last bill period</option>
                <option value="june">Jun 15 - Jul 14</option>
                <option value="may">May 15 - Jun 14</option>
                <option value="april">Apr 15 - May 14</option>
                <option value="march">Mar 16 - Apr 14</option>
                <option value="feb">Feb 16 - Mar 15</option>
                <option value="jan">Jan 15 - Feb 15</option>
              <select>
            </label>
          </div>
          <div class="small-3 columns end">
            <label>View
              <ul class="button-group chart-button-group">
                <li><a href="#/my-usage/by-category-post-audit" class="button secondary"><span class="geomicon geomicon-pie-chart"></span></a>
                </li>
                <li><a href="#/my-usage/by-category-list-post-audit" class="button secondary active"><span class="geomicon geomicon-view-list-alt"></span></a>
                </li>
              </ul>
          </div>
        </div>
      </div>

      <div class="category-table">

        <!-- business user Data -->
        <table ng-show="userPrefs.isBusinessUser()">
          <thead>
            <tr>
              <th width="50%">Category</th>
              <th width="10%">Cost</th>
              <th width="40%"></th>
            </tr>
          </thead>
          <tbody>
            <!--electricity section-->
            <tr class="heading">
              <td>Electricity</td>
              <td>$410.13</td>
              <td></td>
            </tr>
            <tr>
              <td>Lighting</td>
              <td>$121.18</td>
              <td>
                <div class="progress partial dark-yellow size-13"></div>
              </td>
            </tr>
            <tr>
              <td>Cooling</td>
              <td>$139.82</td>
              <td>
                <div class="progress partial light-blue size-15"><span class="geomicon-circle-check has-tip" tooltip="Cost based on verified energy data"></span>
                </div>
              </td>
            </tr>
            <tr>
              <td>Baseload <span>(refrigeration, point-of-sale system, other)</span>
              </td>
              <td>$102.53</td>
              <td>
                <div class="progress partial green size-11"><span class="geomicon-circle-check has-tip" tooltip="Cost based on verified energy data"></span>
                </div>
              </td>
            </tr>
            <tr>
              <td>Electronics <span>(computer, printer, other)</span>
              </td>
              <td>$18.64</td>
              <td>
                <div class="progress partial dark-blue size-2"></div>
              </td>
            </tr>
            <!--gas section-->
            <tr class="heading">
              <td>Gas</td>
              <td>$522.00</td>
              <td></td>
            </tr>
            <tr>
              <td>Cooking equipmet (oven, stove, other)</td>
              <td>$335.57</td>
              <td>
                <div class="progress partial orange size-36"></div>
              </td>
            </tr>
            <tr>
              <td>Hot Water</td>
              <td>$186.43</td>
              <td>
                <div class="progress partial yellow size-20"></div>
              </td>
            </tr>
            <tr>
              <td>Baseload <span>(appliance pilot lights)</span>
              </td>
              <td>$27.96</td>
              <td>
                <div class="progress partial green size-3"><span class="geomicon-circle-check has-tip" tooltip="Cost based on verified energy data"></span>
                </div>
              </td>
            </tr>
            <tr>
              <td>Heating</td>
              <td>$0.00</td>
              <td><span class="geomicon-circle-check has-tip" tooltip="Cost based on verified energy data"></span>
              </td>
            </tr>
            <!--total-->
            <tr class="heading">
              <td>Total</td>
              <td>$932.13</td>
              <td></td>
            </tr>
          </tbody>
        </table>

        <!-- Residential Table Data -->
        <table ng-show="userPrefs.isResidentialUser()">
          <thead>
            <tr>
              <th width="50%">Category</th>
              <th width="10%">Cost</th>
              <th width="40%"></th>
            </tr>
          </thead>
          <tbody>
            <!--electricity section-->
            <tr class="heading">
              <td>Electricity</td>
              <td>$234.82</td>
              <td></td>
            </tr>
            <tr>
              <td>Cooling</td>
              <td>$120.67</td>
              <td>
                <div class="progress partial size-37"><span class="geomicon-circle-check has-tip" tooltip="Cost based on verified energy data"></span>
                </div>
              </td>
            </tr>
            <tr>
              <td>Appliances <span>(washer/dryer, freezer, dish washer)</span>
              </td>
              <td>~$45.66</td>
              <td>
                <div class="progress partial dark-blue size-15"></div>
              </td>
            </tr>
            <tr>
              <td>Electronics <span>(computer, tv, cable box, other)</span>
              </td>
              <td>~$39.14</td>
              <td>
                <div class="progress partial green size-12"></div>
              </td>
            </tr>
            <tr>
              <td>Lighting</td>
              <td>~$13.05</td>
              <td>
                <div class="progress partial light-green size-5"></div>
              </td>
            </tr>
            <tr>
              <td>Baseload <span>(i.e. always-on appliances)</span>
              </td>
              <td>$16.78</td>
              <td>
                <div class="progress partial dark-yellow size-5"><span class="geomicon-circle-check has-tip" tooltip="Cost based on verified energy data"></span>
                </div>
              </td>
            </tr>
            <!--gas section-->
            <tr class="heading">
              <td>Gas</td>
              <td>$91.32</td>
              <td></td>
            </tr>
            <tr>
              <td>Hot Water</td>
              <td>~$75.01</td>
              <td>
                <div class="progress partial yellow size-23"></div>
              </td>
            </tr>
            <tr>
              <td>Appliances</td>
              <td>~$13.26</td>
              <td>
                <div class="progress partial orange size-4"></div>
              </td>
            </tr>
            <tr>
              <td>Baseload <span>(i.e. appliance pilot lights)</span>
              </td>
              <td>$3.26</td>
              <td>
                <div class="progress partial dark-yellow size-2"><span class="geomicon-circle-check has-tip" tooltip="Cost based on verified energy data"></span>
                </div>
              </td>
            </tr>
            <tr>
              <td>Heating</td>
              <td>$0.00</td>
              <td><span class="geomicon-circle-check has-tip" tooltip="Cost based on verified energy data"></span>
              </td>
            </tr>
            <!--total-->
            <tr class="heading">
              <td>Total</td>
              <td>$326.14</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>



      <div class="ways-to-save-section post-audit" ng-show="userPrefs.isResidentialUser()">
        <div class="row">
          <div class="small-7 columns">
            <h2>We have a plan for you to save $219<sub>/yr</sub></h2>
          </div>
          <div class="small-5 columns" ng-switch on="userPrefs.isResidentialUser()">
            <p class="link-label">Get a personalized savings plan</p>
            <a ng-switch-when="true" class="button " href="#/ways-to-save/smart-purchases">See my savings plan</a>
            <a ng-switch-when="false" class="button " href="#/ways-to-save/simple-habits">See my savings plan</a>
          </div>
        </div>
      </div>

      <div class="ways-to-save-section post-audit"  ng-show="userPrefs.isBusinessUser()">
        <div class="row">
          <div class="small-7 columns">
            <h2>We have a plan for you to save $1,265<sub>/yr</sub></h2>
          </div>
          <div class="small-5 columns">
            <a class="button smb" href="#/ways-to-save/simple-habits">See my savings plan</a>
          </div>
        </div>
      </div>

    </div>
    </div>
  </div>
</div>
