<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>crocodile0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0001</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0002</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0003</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0004</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0005</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0006</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0007</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0008</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0009</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0011</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0012</key>
			<dict>
				<key>frame</key>
				<string>{{550,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0013</key>
			<dict>
				<key>frame</key>
				<string>{{550,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0014</key>
			<dict>
				<key>frame</key>
				<string>{{550,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0015</key>
			<dict>
				<key>frame</key>
				<string>{{1100,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0016</key>
			<dict>
				<key>frame</key>
				<string>{{1100,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0017</key>
			<dict>
				<key>frame</key>
				<string>{{1100,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0018</key>
			<dict>
				<key>frame</key>
				<string>{{0,560},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0019</key>
			<dict>
				<key>frame</key>
				<string>{{0,560},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0020</key>
			<dict>
				<key>frame</key>
				<string>{{0,560},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0021</key>
			<dict>
				<key>frame</key>
				<string>{{550,560},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0022</key>
			<dict>
				<key>frame</key>
				<string>{{550,560},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0023</key>
			<dict>
				<key>frame</key>
				<string>{{550,560},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0024</key>
			<dict>
				<key>frame</key>
				<string>{{1100,560},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0025</key>
			<dict>
				<key>frame</key>
				<string>{{1100,560},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0026</key>
			<dict>
				<key>frame</key>
				<string>{{1100,560},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0027</key>
			<dict>
				<key>frame</key>
				<string>{{550,560},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0028</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0029</key>
			<dict>
				<key>frame</key>
				<string>{{550,840},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0030</key>
			<dict>
				<key>frame</key>
				<string>{{1100,840},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0031</key>
			<dict>
				<key>frame</key>
				<string>{{0,1120},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0032</key>
			<dict>
				<key>frame</key>
				<string>{{550,1120},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0033</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1120},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0034</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1120},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0035</key>
			<dict>
				<key>frame</key>
				<string>{{0,1400},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0036</key>
			<dict>
				<key>frame</key>
				<string>{{550,1400},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0037</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1400},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0038</key>
			<dict>
				<key>frame</key>
				<string>{{0,1680},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0039</key>
			<dict>
				<key>frame</key>
				<string>{{550,1680},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0040</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0041</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0042</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1680},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0043</key>
			<dict>
				<key>frame</key>
				<string>{{0,1960},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0044</key>
			<dict>
				<key>frame</key>
				<string>{{550,1960},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0045</key>
			<dict>
				<key>frame</key>
				<string>{{1100,1960},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0046</key>
			<dict>
				<key>frame</key>
				<string>{{0,2240},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0047</key>
			<dict>
				<key>frame</key>
				<string>{{0,2240},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0048</key>
			<dict>
				<key>frame</key>
				<string>{{550,2240},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0049</key>
			<dict>
				<key>frame</key>
				<string>{{1100,2240},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0050</key>
			<dict>
				<key>frame</key>
				<string>{{0,2520},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0051</key>
			<dict>
				<key>frame</key>
				<string>{{550,2520},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0052</key>
			<dict>
				<key>frame</key>
				<string>{{1100,2520},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0053</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0054</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0055</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0056</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0057</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0058</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0059</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0060</key>
			<dict>
				<key>frame</key>
				<string>{{550,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0061</key>
			<dict>
				<key>frame</key>
				<string>{{550,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0062</key>
			<dict>
				<key>frame</key>
				<string>{{550,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0063</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0064</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0065</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0066</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0067</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0068</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0069</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0070</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0071</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0072</key>
			<dict>
				<key>frame</key>
				<string>{{1100,560},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0073</key>
			<dict>
				<key>frame</key>
				<string>{{1100,560},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0074</key>
			<dict>
				<key>frame</key>
				<string>{{1100,560},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0075</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0076</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0077</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0078</key>
			<dict>
				<key>frame</key>
				<string>{{1100,560},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0079</key>
			<dict>
				<key>frame</key>
				<string>{{1100,560},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0080</key>
			<dict>
				<key>frame</key>
				<string>{{1100,560},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0081</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0082</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0083</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0084</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0085</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0086</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0087</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0088</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0089</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0090</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0091</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0092</key>
			<dict>
				<key>frame</key>
				<string>{{550,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0093</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0094</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
			<key>crocodile0095</key>
			<dict>
				<key>frame</key>
				<string>{{1100,0},{550,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{550,280}}</string>
				<key>sourceSize</key>
				<string>{550,280}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>crocodile.png</string>
			<key>size</key>
			<string>{2048,4096}</string>
			<key>textureFileName</key>
			<string>crocodile.png</string>
		</dict>
	</dict>
</plist>
