<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hippo0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0001</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0002</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0003</key>
			<dict>
				<key>frame</key>
				<string>{{450,300},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0004</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0005</key>
			<dict>
				<key>frame</key>
				<string>{{450,600},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0006</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0007</key>
			<dict>
				<key>frame</key>
				<string>{{450,900},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0008</key>
			<dict>
				<key>frame</key>
				<string>{{0,1200},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0009</key>
			<dict>
				<key>frame</key>
				<string>{{450,1200},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0010</key>
			<dict>
				<key>frame</key>
				<string>{{0,1500},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0011</key>
			<dict>
				<key>frame</key>
				<string>{{450,1500},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0013</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0015</key>
			<dict>
				<key>frame</key>
				<string>{{450,300},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0016</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0017</key>
			<dict>
				<key>frame</key>
				<string>{{450,600},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0018</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0019</key>
			<dict>
				<key>frame</key>
				<string>{{450,900},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0020</key>
			<dict>
				<key>frame</key>
				<string>{{0,1200},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0021</key>
			<dict>
				<key>frame</key>
				<string>{{450,1200},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0022</key>
			<dict>
				<key>frame</key>
				<string>{{0,1500},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0023</key>
			<dict>
				<key>frame</key>
				<string>{{450,1500},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0024</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0025</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0026</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0027</key>
			<dict>
				<key>frame</key>
				<string>{{450,300},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0028</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0029</key>
			<dict>
				<key>frame</key>
				<string>{{450,600},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0030</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0031</key>
			<dict>
				<key>frame</key>
				<string>{{450,900},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0032</key>
			<dict>
				<key>frame</key>
				<string>{{0,1200},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0033</key>
			<dict>
				<key>frame</key>
				<string>{{450,1200},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0034</key>
			<dict>
				<key>frame</key>
				<string>{{0,1500},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0035</key>
			<dict>
				<key>frame</key>
				<string>{{450,1500},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0036</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0037</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0038</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0039</key>
			<dict>
				<key>frame</key>
				<string>{{450,300},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0040</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0041</key>
			<dict>
				<key>frame</key>
				<string>{{450,600},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0042</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0043</key>
			<dict>
				<key>frame</key>
				<string>{{450,900},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0044</key>
			<dict>
				<key>frame</key>
				<string>{{0,1200},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0045</key>
			<dict>
				<key>frame</key>
				<string>{{450,1200},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0046</key>
			<dict>
				<key>frame</key>
				<string>{{0,1500},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0047</key>
			<dict>
				<key>frame</key>
				<string>{{450,1500},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0048</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0049</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0050</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0051</key>
			<dict>
				<key>frame</key>
				<string>{{450,300},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0052</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0053</key>
			<dict>
				<key>frame</key>
				<string>{{450,600},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0054</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0055</key>
			<dict>
				<key>frame</key>
				<string>{{450,900},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0056</key>
			<dict>
				<key>frame</key>
				<string>{{0,1200},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0057</key>
			<dict>
				<key>frame</key>
				<string>{{450,1200},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0058</key>
			<dict>
				<key>frame</key>
				<string>{{0,1500},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0059</key>
			<dict>
				<key>frame</key>
				<string>{{450,1500},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0060</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0061</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0062</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0063</key>
			<dict>
				<key>frame</key>
				<string>{{450,300},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0064</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0065</key>
			<dict>
				<key>frame</key>
				<string>{{450,600},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0066</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0067</key>
			<dict>
				<key>frame</key>
				<string>{{450,900},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0068</key>
			<dict>
				<key>frame</key>
				<string>{{0,1200},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0069</key>
			<dict>
				<key>frame</key>
				<string>{{450,1200},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0070</key>
			<dict>
				<key>frame</key>
				<string>{{0,1500},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0071</key>
			<dict>
				<key>frame</key>
				<string>{{450,1500},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0072</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0073</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0074</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0075</key>
			<dict>
				<key>frame</key>
				<string>{{450,300},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0076</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0077</key>
			<dict>
				<key>frame</key>
				<string>{{450,600},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0078</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0079</key>
			<dict>
				<key>frame</key>
				<string>{{450,900},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0080</key>
			<dict>
				<key>frame</key>
				<string>{{0,1200},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0081</key>
			<dict>
				<key>frame</key>
				<string>{{450,1200},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0082</key>
			<dict>
				<key>frame</key>
				<string>{{0,1500},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0083</key>
			<dict>
				<key>frame</key>
				<string>{{450,1500},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0084</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0085</key>
			<dict>
				<key>frame</key>
				<string>{{450,0},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0086</key>
			<dict>
				<key>frame</key>
				<string>{{0,300},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0087</key>
			<dict>
				<key>frame</key>
				<string>{{450,300},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0088</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0089</key>
			<dict>
				<key>frame</key>
				<string>{{450,600},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0090</key>
			<dict>
				<key>frame</key>
				<string>{{0,900},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0091</key>
			<dict>
				<key>frame</key>
				<string>{{450,900},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0092</key>
			<dict>
				<key>frame</key>
				<string>{{0,1200},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0093</key>
			<dict>
				<key>frame</key>
				<string>{{450,1200},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0094</key>
			<dict>
				<key>frame</key>
				<string>{{0,1500},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
			<key>hippo0095</key>
			<dict>
				<key>frame</key>
				<string>{{450,1500},{450,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{450,300}}</string>
				<key>sourceSize</key>
				<string>{450,300}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>hippo.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>hippo.png</string>
		</dict>
	</dict>
</plist>
