<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>lion0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0001</key>
			<dict>
				<key>frame</key>
				<string>{{230,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0002</key>
			<dict>
				<key>frame</key>
				<string>{{460,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0003</key>
			<dict>
				<key>frame</key>
				<string>{{690,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0004</key>
			<dict>
				<key>frame</key>
				<string>{{0,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0005</key>
			<dict>
				<key>frame</key>
				<string>{{230,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0006</key>
			<dict>
				<key>frame</key>
				<string>{{460,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0007</key>
			<dict>
				<key>frame</key>
				<string>{{690,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0008</key>
			<dict>
				<key>frame</key>
				<string>{{0,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0009</key>
			<dict>
				<key>frame</key>
				<string>{{230,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0010</key>
			<dict>
				<key>frame</key>
				<string>{{460,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0011</key>
			<dict>
				<key>frame</key>
				<string>{{690,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0013</key>
			<dict>
				<key>frame</key>
				<string>{{230,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0014</key>
			<dict>
				<key>frame</key>
				<string>{{460,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0015</key>
			<dict>
				<key>frame</key>
				<string>{{690,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0016</key>
			<dict>
				<key>frame</key>
				<string>{{0,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0017</key>
			<dict>
				<key>frame</key>
				<string>{{230,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0018</key>
			<dict>
				<key>frame</key>
				<string>{{460,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0019</key>
			<dict>
				<key>frame</key>
				<string>{{690,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0020</key>
			<dict>
				<key>frame</key>
				<string>{{0,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0021</key>
			<dict>
				<key>frame</key>
				<string>{{230,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0022</key>
			<dict>
				<key>frame</key>
				<string>{{460,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0023</key>
			<dict>
				<key>frame</key>
				<string>{{690,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0024</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0025</key>
			<dict>
				<key>frame</key>
				<string>{{230,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0026</key>
			<dict>
				<key>frame</key>
				<string>{{460,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0027</key>
			<dict>
				<key>frame</key>
				<string>{{690,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0028</key>
			<dict>
				<key>frame</key>
				<string>{{0,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0029</key>
			<dict>
				<key>frame</key>
				<string>{{230,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0030</key>
			<dict>
				<key>frame</key>
				<string>{{460,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0031</key>
			<dict>
				<key>frame</key>
				<string>{{690,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0032</key>
			<dict>
				<key>frame</key>
				<string>{{0,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0033</key>
			<dict>
				<key>frame</key>
				<string>{{230,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0034</key>
			<dict>
				<key>frame</key>
				<string>{{460,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0035</key>
			<dict>
				<key>frame</key>
				<string>{{690,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0036</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0037</key>
			<dict>
				<key>frame</key>
				<string>{{230,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0038</key>
			<dict>
				<key>frame</key>
				<string>{{460,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0039</key>
			<dict>
				<key>frame</key>
				<string>{{690,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0040</key>
			<dict>
				<key>frame</key>
				<string>{{0,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0041</key>
			<dict>
				<key>frame</key>
				<string>{{230,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0042</key>
			<dict>
				<key>frame</key>
				<string>{{460,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0043</key>
			<dict>
				<key>frame</key>
				<string>{{690,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0044</key>
			<dict>
				<key>frame</key>
				<string>{{0,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0045</key>
			<dict>
				<key>frame</key>
				<string>{{230,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0046</key>
			<dict>
				<key>frame</key>
				<string>{{0,750},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0047</key>
			<dict>
				<key>frame</key>
				<string>{{230,750},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0048</key>
			<dict>
				<key>frame</key>
				<string>{{460,750},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0049</key>
			<dict>
				<key>frame</key>
				<string>{{690,750},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0050</key>
			<dict>
				<key>frame</key>
				<string>{{0,1000},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0051</key>
			<dict>
				<key>frame</key>
				<string>{{230,1000},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0052</key>
			<dict>
				<key>frame</key>
				<string>{{460,1000},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0053</key>
			<dict>
				<key>frame</key>
				<string>{{690,1000},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0054</key>
			<dict>
				<key>frame</key>
				<string>{{0,1250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0055</key>
			<dict>
				<key>frame</key>
				<string>{{230,1250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0056</key>
			<dict>
				<key>frame</key>
				<string>{{460,1250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0057</key>
			<dict>
				<key>frame</key>
				<string>{{690,1250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0058</key>
			<dict>
				<key>frame</key>
				<string>{{0,1500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0059</key>
			<dict>
				<key>frame</key>
				<string>{{230,750},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0060</key>
			<dict>
				<key>frame</key>
				<string>{{460,750},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0061</key>
			<dict>
				<key>frame</key>
				<string>{{690,750},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0062</key>
			<dict>
				<key>frame</key>
				<string>{{0,1000},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0063</key>
			<dict>
				<key>frame</key>
				<string>{{230,1500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0064</key>
			<dict>
				<key>frame</key>
				<string>{{0,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0065</key>
			<dict>
				<key>frame</key>
				<string>{{230,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0066</key>
			<dict>
				<key>frame</key>
				<string>{{460,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0067</key>
			<dict>
				<key>frame</key>
				<string>{{690,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0068</key>
			<dict>
				<key>frame</key>
				<string>{{0,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0069</key>
			<dict>
				<key>frame</key>
				<string>{{230,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0070</key>
			<dict>
				<key>frame</key>
				<string>{{460,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0071</key>
			<dict>
				<key>frame</key>
				<string>{{460,1500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0072</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0073</key>
			<dict>
				<key>frame</key>
				<string>{{230,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0074</key>
			<dict>
				<key>frame</key>
				<string>{{460,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0075</key>
			<dict>
				<key>frame</key>
				<string>{{690,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0076</key>
			<dict>
				<key>frame</key>
				<string>{{0,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0077</key>
			<dict>
				<key>frame</key>
				<string>{{230,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0078</key>
			<dict>
				<key>frame</key>
				<string>{{460,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0079</key>
			<dict>
				<key>frame</key>
				<string>{{690,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0080</key>
			<dict>
				<key>frame</key>
				<string>{{0,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0081</key>
			<dict>
				<key>frame</key>
				<string>{{230,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0082</key>
			<dict>
				<key>frame</key>
				<string>{{460,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0083</key>
			<dict>
				<key>frame</key>
				<string>{{690,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0084</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0085</key>
			<dict>
				<key>frame</key>
				<string>{{230,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0086</key>
			<dict>
				<key>frame</key>
				<string>{{460,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0087</key>
			<dict>
				<key>frame</key>
				<string>{{690,0},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0088</key>
			<dict>
				<key>frame</key>
				<string>{{0,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0089</key>
			<dict>
				<key>frame</key>
				<string>{{230,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0090</key>
			<dict>
				<key>frame</key>
				<string>{{460,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0091</key>
			<dict>
				<key>frame</key>
				<string>{{690,250},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0092</key>
			<dict>
				<key>frame</key>
				<string>{{0,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0093</key>
			<dict>
				<key>frame</key>
				<string>{{230,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0094</key>
			<dict>
				<key>frame</key>
				<string>{{460,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
			<key>lion0095</key>
			<dict>
				<key>frame</key>
				<string>{{690,500},{230,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{230,250}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>lion.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>lion.png</string>
		</dict>
	</dict>
</plist>
