<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>parrot0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0001</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0002</key>
			<dict>
				<key>frame</key>
				<string>{{600,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0003</key>
			<dict>
				<key>frame</key>
				<string>{{0,230},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0004</key>
			<dict>
				<key>frame</key>
				<string>{{300,230},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0005</key>
			<dict>
				<key>frame</key>
				<string>{{600,230},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0006</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0007</key>
			<dict>
				<key>frame</key>
				<string>{{300,460},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0008</key>
			<dict>
				<key>frame</key>
				<string>{{600,460},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0009</key>
			<dict>
				<key>frame</key>
				<string>{{0,690},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0010</key>
			<dict>
				<key>frame</key>
				<string>{{300,690},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0011</key>
			<dict>
				<key>frame</key>
				<string>{{600,690},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0012</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0013</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0014</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0015</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0016</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0017</key>
			<dict>
				<key>frame</key>
				<string>{{0,230},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0018</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0019</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0020</key>
			<dict>
				<key>frame</key>
				<string>{{300,920},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0021</key>
			<dict>
				<key>frame</key>
				<string>{{0,690},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0022</key>
			<dict>
				<key>frame</key>
				<string>{{600,690},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0023</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0024</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0025</key>
			<dict>
				<key>frame</key>
				<string>{{0,230},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0026</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0027</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0028</key>
			<dict>
				<key>frame</key>
				<string>{{300,920},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0029</key>
			<dict>
				<key>frame</key>
				<string>{{0,690},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0030</key>
			<dict>
				<key>frame</key>
				<string>{{600,690},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0031</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0032</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0033</key>
			<dict>
				<key>frame</key>
				<string>{{0,230},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0034</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0035</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0036</key>
			<dict>
				<key>frame</key>
				<string>{{300,920},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0037</key>
			<dict>
				<key>frame</key>
				<string>{{0,690},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0038</key>
			<dict>
				<key>frame</key>
				<string>{{600,690},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0039</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0040</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0041</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0042</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0043</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0044</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0045</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0046</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0047</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0048</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0049</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0050</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0051</key>
			<dict>
				<key>frame</key>
				<string>{{0,230},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0052</key>
			<dict>
				<key>frame</key>
				<string>{{300,230},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0053</key>
			<dict>
				<key>frame</key>
				<string>{{600,230},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0054</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0055</key>
			<dict>
				<key>frame</key>
				<string>{{300,460},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0056</key>
			<dict>
				<key>frame</key>
				<string>{{600,460},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0057</key>
			<dict>
				<key>frame</key>
				<string>{{0,690},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0058</key>
			<dict>
				<key>frame</key>
				<string>{{300,690},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0059</key>
			<dict>
				<key>frame</key>
				<string>{{600,690},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0060</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0061</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0062</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0063</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0064</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0065</key>
			<dict>
				<key>frame</key>
				<string>{{0,230},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0066</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0067</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0068</key>
			<dict>
				<key>frame</key>
				<string>{{300,920},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0069</key>
			<dict>
				<key>frame</key>
				<string>{{0,690},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0070</key>
			<dict>
				<key>frame</key>
				<string>{{600,920},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0071</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0072</key>
			<dict>
				<key>frame</key>
				<string>{{300,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0073</key>
			<dict>
				<key>frame</key>
				<string>{{0,230},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0074</key>
			<dict>
				<key>frame</key>
				<string>{{0,920},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0075</key>
			<dict>
				<key>frame</key>
				<string>{{0,460},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0076</key>
			<dict>
				<key>frame</key>
				<string>{{0,1150},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0077</key>
			<dict>
				<key>frame</key>
				<string>{{300,1150},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0078</key>
			<dict>
				<key>frame</key>
				<string>{{600,1150},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0079</key>
			<dict>
				<key>frame</key>
				<string>{{0,1380},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0080</key>
			<dict>
				<key>frame</key>
				<string>{{0,1610},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0081</key>
			<dict>
				<key>frame</key>
				<string>{{300,1380},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0082</key>
			<dict>
				<key>frame</key>
				<string>{{600,1380},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0083</key>
			<dict>
				<key>frame</key>
				<string>{{300,1610},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0084</key>
			<dict>
				<key>frame</key>
				<string>{{0,1150},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0085</key>
			<dict>
				<key>frame</key>
				<string>{{300,1150},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0086</key>
			<dict>
				<key>frame</key>
				<string>{{600,920},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0087</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0088</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0089</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0090</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0091</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0092</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0093</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0094</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
			<key>parrot0095</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{300,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,230}}</string>
				<key>sourceSize</key>
				<string>{300,230}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>parrot.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>textureFileName</key>
			<string>parrot.png</string>
		</dict>
	</dict>
</plist>
