<div id="default-flashcard" class="flashcards-modal reveal-modal" data-reveal>
  <section class="modal-card">
    <div class="row">
      <div class="small-12 columns">
        <p>Start by selecting your child’s age from the pulldown. Be sure to explore activities from all eight learning areas to maximize your child’s school readiness and success.</p>
      </div>
    </div>
    <div class="row">
      <div class="small-12 medium-5 columns">
        <h1>Make the most of moments together with your little ones through playful learning and preschool games, anytime anywhere.</h1>
      </div>
      <div class="small-12 medium-7 columns">
        <div class="photo"></div>
      </div>
    </div>
  </section>
   <a class="close-reveal-modal">&#215;</a>
</div>
