<div id="flashcards-sign-in" class="flashcards-modal reveal-modal" data-reveal>
  <section class="modal-card">
    <div class="center-copy">
      <div class="row">
        <div class="small-12 columns">
          <h1>Way to go - you made it through another learning area!</h1>
          <p>When you <a href="#">sign up</a> and <a href="#">sign in</a> you can mark the activities you do with your child as complete.</p>
          <p>
            When you check activities in other learning areas you're helping your kid builds critical learning readiness skills.</p>
          </p>
        </div>
      </div>
    </div>
  </section>
<a class="close-reveal-modal">&#215;</a>
<a class="close-reveal-modal close-full">&#215;</a>
</div>
