<div id="milestone-modal" class="reveal-modal" data-reveal>
  <section class="modal-card">
    <div class="row">
      <div class="large-5 columns">
        <div class="user-uploaded-photo" style="background-image:url(https://placehold.it/420x420)"></div>
      </div>
      <div class="large-7 columns">
        <div class="card-domain science">
          <img ng-src="img/learning-areas/domain-icons/science.svg" alt="">
        </div>
        <h1>Title long</h1>
        <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, ut, eaque at, pariatur quos earum, optio quo vero deserunt soluta aut eos. In, doloribus atque porro. Delectus nobis aspernatur iure.</p>
        <p><strong>Skill: </strong>skill ipsum</p>
        <div class="social-links">
          <a class="email">Email</a>
          <a href="facebook.com" class="facebook">Facebook</a>
          <a href="twitter.com" class="twitter">Twitter</a>
          <a href="pinterest.com" class="pinterest">Pinterest</a>
        </div>
      </div>
    </div>
  </section>
   <a class="close-reveal-modal">&#215;</a>
</div>
