<div id="next-flashcards" class="flashcards-modal reveal-modal click-through" data-reveal>
  <section class="modal-card">
    <div class="center-copy">
      <div class="row">
        <div class="small-12 columns">
          <h1>You cannot be stopped! Click through to the next learning area.</h1>
          <p>In addition to uploading a picture, you may also want to share the entire experience via social meda --- look for the links to Twitter, Facebook, and Pinterest in your completed milestones view.</p>
        </div>
      </div>
    </div>
  </section>
  <a class="close-reveal-modal">&#215;</a>
  <a class="close-reveal-modal close-full"></a>
</div>
