<div id="thumbs-up-modal" class="flashcards-modal reveal-modal" data-reveal>
  <section class="modal-card">
    <div class="center-copy">
      <div class="row">
        <div class="small-12 columns">
          <h1>Thumbs up! You got through all those activities. On to the next learning area!</h1>
          <p>Remember when you complete an activity you can mark it done - You
            can also add a picture of the fun you had and it will appear below in your Completed Milestones.</p>
        </div>
      </div>
    </div>
  </section>
  <a class="close-reveal-modal">&#215;</a>
  <a class="close-reveal-modal close-full">&#215;</a>
</div>
