<div id="welcome-flashcards-modal" class="flashcards-modal reveal-modal" data-reveal>
  <section class="modal-card">
    <div class="center-copy">
      <div class="row">
        <div class="small-12 columns">
          <h1>Thanks for signing in.</h1>
          <p>After you've finished a flashcard activity with your child you can mark that card complete and upload an image
            -- the completed milestone that will appear here is a record of the fun and learning you shared.</p>
            <p>You can also easily <a class="underline" href="#">share that completed milestone with family and friends via social media.</a></p>
            <p>
              <a class="underline" href="#">Give it a try!</a>
            </p>
          </div>
        </div>
    </div>
  </section>
  <a class="close-reveal-modal">&#215;</a>
  <a class="close-reveal-modal close-full">&#215;</a>
</div>
