<div id="you-did-it" class="flashcards-modal reveal-modal" data-reveal>
  <section class="modal-card">
    <div class="center-copy">
      <div class="row">
        <div class="small-12 columns">
          <h1>You did it--Another learning area bites the dust!</h1>
          <p>When you <a href="#">sign up</a> and <a href="#">sign in</a> you
             can upload images from the activies you complete. Have a great time with your child while you explore the eight different learning areas here.</p>
        </div>
      </div>
    </div>
  </section>
  <a class="close-reveal-modal">&#215;</a>
  <a class="close-reveal-modal close-full">&#215;</a>
</div>
