
  <div class="section-head no-side-nav">
    <div class="row">
      <div class="large-9 columns">
        <h1 class="section-heading">Billing Summary</h1>
      </div>
    </div>
  </div>
  <div class="billing-summary primary-content-container">

  <div class="slab bill-summary-bits">
    <div class="row">
      <div class="small-4 large-3 columns summary-bit">
        <span>Amount due</span>
        <strong>$361.24</strong>
      </div>
      <div class="small-4 large-3 columns summary-bit">
        <span>Due on</span>
        <strong>8/15/2014</strong>
      </div>
      <div class="small-4 large-3 columns last-payment">
        <span>Last payment</span>
        <strong>$243.24</strong>
      </div>
      <div class="small-12 large-3 columns">
        <a href="" class="button primary">Pay now</a>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="large-7 columns">

      <div class="slab bill-breakdown">
        <h3 class="slab-heading">Bill Breakdown</h3>
        <div class="bill-breakdown-chart row">
          <div class="small-12 large-6 columns pie-container" ng-controller="chartsController">
            <div class="relative-position-wrap">
              <div data-ac-chart="'pie'" data-ac-data="resPrePieData" data-ac-config="resPrePieConfig" class="pieChart resPre"></div>
              <div class="pie-center">
                <h4>$361.24</h4>
              </div>
            </div>
          </div>
          <div class="small-12 large-6 columns">
            <ul class="breakdown-legend">
              <li><span class="geomicon-record lightBlue"></span> Cooling <span class="percent">37%</span>
              </li>
              <li><span class="geomicon-record green"></span> Baseload <span class="percent">4%</span>
              </li>
              <li><span class="geomicon-record donutDarkGray"></span> Uncategorized gas <span class="percent">27%</span>
              </li>
              <li><span class="geomicon-record donutLightGray"></span> Uncategorized electricity <span class="percent">32%</span>
              </li>
            </ul>

          </div>

          <div class="button-wrap" ng-show="userPrefs.isBusinessUser()">
            <a href="#/business/ways-to-save" class="button primary has-points-value">
              Complete your pie chart
              <span class="points-value">
                <span class="points-amount"><strong>260</strong> points!</span>
              </span>
            </a>
          </div>

          <div class="button-wrap" ng-show="userPrefs.isResidentialUser()">
            <a href="#/ways-to-save/about-home-1of3" class="button primary has-points-value">
              Complete your pie chart
              <span class="points-value">
                <span class="points-amount"><strong>260</strong> points!</span>
              </span>
            </a>
          </div>

        </div>
      </div>

      <div class="slab happening-recently">
        <h3 class="slab-heading">What's been happening recently?</h3>
        <div class="slab-subheading">Between July 15 - August 1</div>
        <div class="row">
          <div class="small-4 large-4 columns">
            <a href="#/my-usage/by-category" class="insightlet insightlet-first">
              <div class="geomicon geomicon-pie-chart"></div>
              <span><strong>Your AC</strong> used the most energy</span>
              <span class="link">View details</span>
            </a>
          </div>
          <div class="small-4 large-4 columns">
            <a href="" class="insightlet">
              <div class="geomicon geomicon-coin"></div>
              <span><strong>Rates increased</strong>
              <br />this month</span>
              <span class="link">View details</span>
            </a>
          </div>
          <div class="small-4 large-4 columns">
            <a href="#/my-usage/weather" class="insightlet">
              <div class="geomicon geomicon-weather"></div>
              <span>The average temp was <strong>8° warmer</strong></span>
              <span class="link">View details</span>
            </a>
          </div>
        </div>
      </div>

      <div class="slab rate-plan">
        <h3 class="slab-heading">
          Suggested rate plan<br/>
          for you
          <strong>Time-of-Use SmartRate<sup>TM</sup> (E6-Smart)</strong>
        </h3>
        <span class="rate-savings">
          <span class="rate-savings-detail">Save up to <strong>$95 each year</strong></span>
        <a href="" class="button primary">View Rate Plan</a>
        </span>
      </div>

    </div>


    <div class="large-5 columns">

      <div class="slab bill-charges">
        <h3 class="slab-heading">Bill Charges</h3>
        <ul>
          <li class="active">
            <span class="geomicon-nav-arrow-down bill-charges-toggle"></span>
            <span class="bill-fuel">
              Electricity
              <span class="amount">$263.71</span>
            </span>
            <ul>
              <li>
                Generation
                <span class="geomicon-help"></span>
                <span class="amount">$187.85</span>
              </li>
              <li>
                Transmission
                <span class="geomicon-help"></span>
                <span class="amount">$51.23</span>
              </li>
              <li>
                Distribution
                <span class="geomicon-help"></span>
                <span class="amount">$24.63</span>
              </li>
              <li>
                <a href="">+ more</a>
              </li>
            </ul>
          </li>
          <li>
            <span class="geomicon-nav-arrow-right bill-charges-toggle"></span>
            <span class="bill-fuel">
              Gas
              <span class="amount">$97.53</span>
            </span>
          </li>
        </ul>
        <div class="bill-charges-total">
          Total
          <span class="amount">$361.24</span>
        </div>
      </div>

      <div class="slab threshold" ng-controller="PayAndManageCtrl">
        <h3 class="slab-heading">Setting your threshold</h3>
        <p class="threshold-intro">We will notify you when your bill is projected to exceed your threshold.</p>
        <label for="slider-toggle">
          Set by:
          <select id="slider-toggle" ng-model="sliderSelection" ng-options="slider.value as slider.title for slider in sliders">
          </select>
        </label>
        <div ng-switch on="sliderSelection">
          <div class="slider price-slider" ng-switch-default>
            <rzslider rz-slider-floor="priceSlider.floor" rz-slider-ceil="priceSlider.ceil" rz-slider-model="priceSlider.min" rz-slider-high="priceSlider.max">
            </rzslider>
            <span class="amount">${{ priceSlider.max }}</span>
          </div>
          <div class="slider percent-slider" ng-switch-when="percent">
            <rzslider rz-slider-floor="percentSlider.floor" rz-slider-ceil="percentSlider.ceil" rz-slider-model="percentSlider.min" rz-slider-high="percentSlider.max">
            </rzslider>
            <span class="amount">{{ percentSlider.max }}%</span>
          </div>
          <div class="slider days-slider" ng-switch-when="days">
            <rzslider rz-slider-floor="daysSlider.floor" rz-slider-ceil="daysSlider.ceil" rz-slider-model="daysSlider.min" rz-slider-high="daysSlider.max">
            </rzslider>
            <span class="amount">{{ daysSlider.max }} days</span>
          </div>
        </div>
        <a class="manage-alerts" href="#/my-account/alerts">Manage my Alerts</a>
      </div>

      <div class="slab common-reasons">
        <h3 class="slab-heading">Common reasons for high bills</h3>
        <div class="slab-subheading">Based on single-family homes <a href="">like yours</a>
        </div>
        <ul>
          <li><a href="">Installed outdoor lighting</a>
          </li>
          <li><a href="">Having friends and family over</a>
          </li>
          <li><a href="">Higher cooling use</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

</div>
