<div id="store">
  <section id="store-feature">
    <div class="feature-covers">
      <div>
        <slick dots=true infinite=true speed=500 slides-to-show=1 css-ease=ease arrows=false autoplay=false>
          <div class="slick-slide">
            <a href="shop/#/0"></a>
            <ul class="book-cover">
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/9780152380212_lres.jpg"></li>
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/0618663770_lres.jpg"></li>
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/0899194028_lres.jpg"></li>
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/9780547905730_lres.jpg"></li>
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/9780547905730_lres.jpg"></li>
            </ul>
            <div class="row feature-caption">
              <h2>{{carouselKits[0].title}}</h2>
              <h3>{{carouselKits[0].description}}</h3>
            </div>
            <div class="domains">
              <ul>
                <li ng-repeat="domains in carouselKits[0].domains"
                  ng-init="active = true"
                  class="{{'domain-' + domains.name}}"
                  ng-class="{'active' : active == false}"
                  ng-click="active = !active">
                  <span>{{domains.title}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="slick-slide">
            <a href="shop/#/1"></a>
            <ul class="book-cover">
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/9780152380212_lres.jpg"></li>
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/0618663770_lres.jpg"></li>
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/0899194028_lres.jpg"></li>
            </ul>
            <div class="row feature-caption">
              <h2>{{carouselKits[1].title}}</h2>
              <h3>{{carouselKits[1].description}}</h3>
            </div>
            <div class="domains">
              <ul>
                <li ng-repeat="domains in carouselKits[1].domains"
                  ng-init="active = true"
                  class="{{'domain-' + domains.name}}"
                  ng-class="{'active' : active == false}"
                  ng-click="active = !active">
                  <span>{{domains.title}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="slick-slide">
            <a href="shop/#/2"></a>
            <ul class="book-cover">
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/9780152380212_lres.jpg"></li>
            </ul>
            <div class="row feature-caption">
              <h2>{{carouselKits[2].title}}</h2>
              <h3>{{carouselKits[2].description}}</h3>
            </div>
            <div class="domains">
              <ul>
                <li ng-repeat="domains in carouselKits[2].domains"
                  ng-init="active = true"
                  class="{{'domain-' + domains.name}}"
                  ng-class="{'active' : active == false}"
                  ng-click="active = !active">
                  <span>{{domains.title}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="slick-slide">
            <a href="shop/#/0"></a>
            <ul class="book-cover">
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/9780152380212_lres.jpg"></li>
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/0618663770_lres.jpg"></li>
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/0899194028_lres.jpg"></li>
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/9780547905730_lres.jpg"></li>
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/9780547905730_lres.jpg"></li>
            </ul>
            <div class="row feature-caption">
              <h2>{{carouselKits[0].title}}</h2>
              <h3>{{carouselKits[0].description}}</h3>
            </div>
            <div class="domains">
              <ul>
                <li ng-repeat="domains in carouselKits[0].domains"
                  ng-init="active = true"
                  class="{{'domain-' + domains.name}}"
                  ng-class="{'active' : active == false}"
                  ng-click="active = !active">
                  <span>{{domains.title}}</span>
                </li>
              </ul>
            </div>
          </div>
          <div class="slick-slide">
            <a href="shop/#/0"></a>
            <ul class="book-cover">
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/9780152380212_lres.jpg"></li>
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/0618663770_lres.jpg"></li>
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/0899194028_lres.jpg"></li>
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/9780547905730_lres.jpg"></li>
              <li><img src="https://www.houghtonmifflinbooks.com/assets/product/9780547905730_lres.jpg"></li>
            </ul>
            <div class="row feature-caption">
              <h2>{{carouselKits[0].title}}</h2>
              <h3>{{carouselKits[0].description}}</h3>
            </div>
            <div class="domains">
              <ul>
                <li ng-repeat="domains in carouselKits[0].domains"
                  ng-init="active = true"
                  class="{{'domain-' + domains.name}}"
                  ng-class="{'active' : active == false}"
                  ng-click="active = !active">
                  <span>{{domains.title}}</span>
                </li>
              </ul>
            </div>
          </div>
        </slick>
      </div>
    </div>
  </section>
  <section id="kits">
    <div id="shop-banner">
      <div class="row">Free Shipping on Orders $25 and over!</div>
    </div>
    <header id="header-bar" class="row">
      <h1><span>Gift Boxes</span></h1>
    </header>
    <ul class="row">
      <li class="small-12 medium-6 columns"
        ng-repeat="kit in kits"
        ng-include="'shop/single-kit.html'">
      </li>
    </ul>
  </section>
</div>
