$carousel-height: 400px;
$carousel-snd-book-row: -90px;
$kits-domain-height: 50px;
$kits-domain-width: 55px;
$kit-info-width: 380px;
$kit-tab-height: 130px;
$kit-item-image-width: 320px;
$kit-item-image-height: 300px;
$kit-box-width: 530px;
$kit-box-height: 429px;



// Domain coloring mixins
@mixin store-domain($color, $image: none) {
	background-color: $color;

	&:before {
		background-image: $image;
	}
}

@mixin store-single-domain($color, $image: none) {
	&:before {
		background-color: $color;
		background-image: $image;
	}
}

// Kit listing
#store,
#store-kit {
	h1 {
		margin-bottom: 0;
		font-size: 2rem;
	}
	h2 {
		/* @include big-title; */
		margin-bottom: 32px;
		font-size: 2rem;
	}
	.book-cover {
		list-style:none;
		padding:10px 60px 0 10px;
		text-align:center;
		margin:0;
		max-height:500px;
		position:absolute;
		//top:15%;
		width:90%;
		@media #{$medium-up}{
			position:relative;
			//top:0;
			padding-top:75px;
			width:100%;
			max-height:400px;
		}
		li {
			display:inline-block;
			//padding:10px;
			width:32%;
			max-height:350px;
			@media #{$medium-up}{
				width:19%;
			}
			@media #{$medium-only}{
				padding:0;
			}
			img {
				display:inline-block;
				max-width:80%;
				min-width:120px !important;
				max-height:230px;
				margin-bottom:20px;
				border: 5px white solid;
				-webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
				box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
				-webkit-border-radius: 3px;
				border-radius: 3px;
				@include transform-me(6deg);
			}
			+ li img {
				@include transform-me(-2deg);
			}
			+ li + li img {
				@include transform-me(-3deg);
			}
			+ li + li + li {
				margin-top:$carousel-snd-book-row;
				img {
					@include transform-me(1deg);
				}
			}
			+ li + li + li + li {
				margin-top:$carousel-snd-book-row;
				img {
					@include transform-me(5deg);
				}
			}
			&:only-child {
				width:30%;
				@media #{$small-only}{
					width:90%;
				}
			}
		}
	}
}
#store {
	#store-feature { // Carousel
		position:relative;
		padding:0px 0px;
		overflow:hidden;
		width:100%;
		height:100%;
		//carousel edits
		.slick-dots{
			bottom:0;
			top:auto;
			right:50%;
			transform: translate(50%, -20%);
			/* bottom:-30px; */
			margin-bottom:0;
			-webkit-margin-before: 0em;
			-webkit-margin-after: 0em;
			@media #{$small-only}{
				left:60px;
				right:auto;
				transform: translate(0,0);
			}
			li {
				float:left;
				margin:0 10px;
				button:before {
					color:white;
					font-size:32px;
				}
			}
			li.slick-active button:before {
				color:white;
			}
		}
		@include vertical-gradient(#62CAEC, #41ACE2);
		&:before {
			content: '';
			background: url('../img/store/feature-icon-bg.svg');
			position:absolute;
			width:100%;
			height:100%;
		}

		.slick-slider{
			margin-bottom:0;
		}

		.slick-slide{
			top:85px;
			@media #{$medium-up}{
				top:30px;
			}
			a{
				display:block;
				width:100%;
				height:100%;
				position:absolute;
				top:0;
				left:0;
				z-index:2;
			}
		}
		.slick-initialized .slick-slide {
			overflow:hidden;
			min-height:400px;
			@media #{$medium-up}{
				margin-top:70px;
			}
		}
		.feature-covers {
			padding-bottom:60px;
			height:550px;
			.feature-caption {
				position:absolute;
				bottom:0;
				padding:0 10px;
				@media #{$medium-up}{
					padding:0 35px;
				}
				h2 {
					color:white;
					text-align:left;
					margin:0;
					font-size:rem-calc(16);
					&:before, &:after {
						border:none;
					}
				}
				h3 {
					color:white;
					font-size:rem-calc(12);
					text-align:left;
					padding-right:60px;
				}
				@media #{$medium-up}{
					h2 {
						font-size:rem-calc(22);
					}
					h3 {
						font-size:rem-calc(18);
					}
				}
			}
		}
	}


	#featured-kits { // Featured
		& > ul {
			list-style: none;
			margin: 0;
			padding: 0;
			color: $white;
		}
		.kit {
			padding-bottom: 48px;
		}
		.description {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: auto;
			padding: 20px 24px;
			padding-right: 24px + $kits-domain-width;

			strong {
				font-size: 2rem;
			}
			em {
				display: none;
			}
		}
	}
	#shop-banner {
		margin-top:-32px;
		padding:10px 0;
		background-color:#f2a900;
		div {
			text-align:center;
			color: white;
			font-size:rem-calc(25);
			text-shadow: 0 0 7px rgba(0, 0, 0, 0.17);
		}
	}
	#kits { // Kit listing
		padding-top: 32px;
		background: $light-grey;

		& > ul {
			list-style: none;
			padding: 0;
		}
		#header-bar{
			padding-bottom: 16px;

			h1 span {
				background-color: $light-grey;
			}
			#filters {
				.f-dropdown li {
					width:105%;
				}
				li {
					float:left;
					& + li {
						margin-left:20px;
					}
				}
			}
		}
		.kit {
			padding-bottom: 130px;
		}
		.description {
			padding: 24px 0;
			text-align: center;

			strong {
				display: block;
				font-size: 1.1rem;
				white-space: nowrap;
				text-overflow: ellipsis;
				overflow: hidden;
			}
			em {
				display: block;
				font-size: 1.4rem;
				font-weight: bold;
				color: $success-green;
			}
			div {
				display: none;
			}
		}
	}
	.kit { // Shared kit styles
		overflow: hidden;

		.kit-link{
			/* background: red;
			display:block;
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			z-index:100; */
		}

		.kit-container{
			height: $kits-domain-height * $number-of-domains;
			position:relative;
			/* cursor:pointer; */

		/* a {
			position: relative;
			display: block;
			width: 100%;
			height: \$kits-domain-height * \$number-of-domains;
			color: inherit;
			float:left; */

			.image {
				position:relative;
				padding:0px 0px;
				width:100%;
				height:100%;
				z-index:3;
				a{
					display:block;
					width:100%;
					height:100%;
					position:absolute;
					top:0;
					left:0;
				}
				@include vertical-gradient(#62CAEC, #41ACE2);
				img{
					height:100%;
					display:block;
					margin: 0 auto;
				}
				&:before {
					content: '';
					background: url('../img/store/feature-icon-bg.svg');
					position:absolute;
					width:100%;
					height:100%;
				}
			}
			.description {
				strong {
					font-weight: 600;
				}
				em {
					font-style: normal;
				}
			}
		}
	}
	.kit .kit-container, #store-feature .feature-covers {
		.domains {
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			z-index: 3;
			&:before {
				content: "";
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			ul {
				display: inline-block;
				list-style: none;
				margin: 0;
				padding: 0;
				vertical-align: middle;

				li {
					position:relative;
					padding-right: 16px;
					left:100%;
					height: $kits-domain-height;
					line-height: $kits-domain-height;
					color: $white;
					transition: left 0.2s ease;
					width:$kits-domain-width;
					white-space: nowrap;
					&:hover{
						left: 0%;
						width:100%;
					}
					&.active {
						@media #{$small-only}{
							left:0%;
						}
						@media #{$medium-only}{
							left: 0%;
						}
					}
					&:before {
						content: "";
						display: block;
						position: absolute;
						right: 100%;
						top: 0;
						width: $kits-domain-width;
						height: $kits-domain-height;
						background: transparent none scroll no-repeat 50% 50%;
						background-color: inherit;
					}
				}
				.domain-creative {
					@include store-domain(
						$color-creative,
						url(../img/domains/creative-icon-white.png)
					);
				}
				.domain-language {
					@include store-domain(
						$color-language,
						url(../img/domains/language-icon-white.png)
					);
				}
				.domain-math {
					@include store-domain(
						$color-math,
						url(../img/domains/math-icon-white.png)
					);
				}
				.domain-health {
					@include store-domain(
						$color-health,
						url(../img/domains/health-icon-white.png)
					);
				}
				.domain-family {
					@include store-domain(
						$color-family,
						url(../img/domains/family-icon-white.png)
					);
				}
				.domain-executive {
					@include store-domain(
						$color-executive,
						url(../img/domains/executive-icon-white.png)
					);
				}
				.domain-social {
					@include store-domain(
						$color-social,
						url(../img/domains/social-icon-white.png)
					);
				}
				.domain-science {
					@include store-domain(
						$color-science,
						url(../img/domains/science-icon-white.png)
					);
				}
			}

		}
	}
}




// Single kit page
#store-kit {
	position:relative;
	.group-container{
		height:100%;
		min-height:900px;
		position:relative;
		overflow:hidden;
		@include vertical-gradient(#62CAEC, #41ACE2);
		&:before{
			content: '';
			background: url('../img/store/feature-icon-bg.svg');
			position:absolute;
			width:100%;
			height:100%;
			display:block;
		}
	}
	.left{

		width:100%;
		@media #{$large-up}{
			width:65%;
		}
	}
	.right{

		width:100%;
		@media #{$large-up}{
			width:35%;
		}

	}
	#header-bar {
		margin-top: 32px;
		margin-bottom: 32px + 20px;
	}
	#covers{
		padding: 75px 100px;
		@media #{$medium-up}{
			padding-top:90px;
		}
		li{
			img{
				border: 5px white solid;
				-webkit-box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
				box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
				-webkit-border-radius: 3px;
				border-radius: 3px;
			}
			@include transform-me(3deg);
		}
		li + li img {
			@include transform-me(-2deg);
		}
		li + li + li img {
			@include transform-me(-3deg);
		}
		li + li + li + li img {
			@include transform-me(1deg);
		}
	}
	#product {
		background-repeat:no-repeat;
		background-size:100% 100%;
		position: relative;

		#info {
			height:100%;
			padding: 44px 36px;
			background: $light-grey;
			min-height:900px;
			@media #{$medium-up}{
				padding-top:90px;
			}
			h1 {
				font-weight: 600;
			}
			.price {
				display: block;
				margin-bottom: 36px;
				font-size: 1.3rem;
				font-weight: normal;
			}
			.button {
				display: block;
				font-size: 1.5rem;
			}
			.description {
				margin: 36px 0;
				line-height: 2rem;
			}
			.domains {
				list-style: none;
				margin: 0;
				padding: 0;
				li {
					position: relative;
					padding-left: $kits-domain-width + 16px;
					height: $kits-domain-height;
					line-height: $kits-domain-height;
					color: $grey;

					&:before {
						content: "";
						display: block;
						position: absolute;
						left: 0;
						top: 0;
						width: $kits-domain-width;
						height: $kits-domain-height;
						background: transparent none scroll no-repeat 50% 50%;
					}
				}
				.domain-creative {
					@include store-single-domain(
						$color-creative,
						url(../img/domains/creative-icon-white.png)
					);
				}
				.domain-language {
					@include store-single-domain(
						$color-language,
						url(../img/domains/language-icon-white.png)
					);
				}
				.domain-math {
					@include store-single-domain(
						$color-math,
						url(../img/domains/math-icon-white.png)
					);
				}
				.domain-health {
					@include store-single-domain(
						$color-health,
						url(../img/domains/health-icon-white.png)
					);
				}
				.domain-family {
					@include store-single-domain(
						$color-family,
						url(../img/domains/family-icon-white.png)
					);
				}
				.domain-executive {
					@include store-single-domain(
						$color-executive,
						url(../img/domains/executive-icon-white.png)
					);
				}
				.domain-social {
					@include store-single-domain(
						$color-social,
						url(../img/domains/social-icon-white.png)
					);
				}
				.domain-science {
					@include store-single-domain(
						$color-science,
						url(../img/domains/science-icon-white.png)
					);
				}
			}
		}
	}
	#unboxing {
		position: relative;

		#empty-item {
			display: none;
			height: $kit-box-height;
		}
		#items {
			position: relative;
			list-style: none;
			z-index: 2;

			.kit-item {
				position: relative;
				margin: 1.5rem 8%;
				min-height: 300px;

				&:before {
					content: "";
					display: block;
					width: 30%;
					height: 100%;
					min-width: $kit-item-image-width;
					min-height: $kit-item-image-height;
				}
				.image {
					position: absolute;
					max-width: $kit-item-image-width + 10;
					max-height: $kit-item-image-height + 10;

					img {
						display: block;
						max-width: 100%;
						max-height: 100%;
						box-shadow: 0 0 20px 5px transparentize($black, 0.8);
					}
				}
				.description {
					font-size: 1.2rem;

					.title {
						display: block;
						font-size: 2rem;
						font-weight: 600;
					}
					.author {
						display: block;
						color: $grey;
					}
					.description {
						margin: 1rem 0;
					}
				}
			}
			.left-item {
				.kit-item:before {
					float: left;
				}
				.image {
					left: 0;
				}
				.description {

				}
			}
			.right-item {
				.kit-item:before {
					float: right;
				}
				.image {
					right: 0;
				}
				.description {

				}
			}
		}
		.the-box {
			display:none;
			position: absolute;
			bottom: 0;
			left: 50%;
			margin-left: -($kit-box-width / 2);
			width: $kit-box-width;
			height: $kit-box-height;
			background: transparent none scroll no-repeat 0 0;

			&.front {
				background-image: url(../img/box-front.png);
				z-index: 3;
			}
			&.back {
				background-image: url(../img/box-back.png);
				z-index: 1;
			}
			&.skrollable {
			}
			&.skrollable-before {
				top: 0;
			}
			&.skrollable-between {
				position: fixed;
				bottom: 0;
			}
			&.skrollable-after {
				bottom: 0;
			}
		}
	}
}

.orbit-container{
	overflow:hidden;
	.orbit-timer{
		display:none;
	}
	.orbit-bullets{
		cursor:pointer;
		top:30px;
		li{
			background: $blue;
			&.active{
				background: white;
			}
		}
	}
}

//cstm -- author: adam daniels
.cstm_sm_block_grid_2{
	//padding: 0 0.625rem 1.25rem;
	//margin: 0 -0.625rem;
	//padding: 0 0.625rem 1.25rem !important;
	//margin: 0 -0.625rem;
	@media #{$small-only}{
		padding: 50px !important;
	}
}
//end cstm -- author: adam daniels
