<div class="alerts">
  <div class="row">
    <div class="small-9 columns small-centered">
      <h1 class="section-heading">Manage Alerts</h1>
      <div class="row slab alerts-for">
        <div class="small-12 columns">
          <label><span>Alerts for</span>
            <input type="text">
          </label>
        </div>
        <div class="small-12 columns">
          <label>Send email alerts to:
            <input type="text">
          </label>
        </div>
        <div class="small-12 columns">
          <label>Send text message alerts to:
            <input type="text">
          </label>
        </div>
        <div class="small-12 columns">
          <label>Send voice notifications to:
            <input type="text">
          </label>
        </div>
      </div>
      <div class="rounded-corners">
      <table>
        <thead>
          <tr>
            <th width="375">Send alerts for:</th>
            <th>email</th>
            <th>mobile</th>
            <th>voice</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Bill Threshold
              <p>We will send you an alert when your bill exceeds a certain dollar amount that you set.</p>
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <input type="checkbox">
            </td>
          </tr>
          <tr>
            <td>
              Unusual Usage Alert
              <p>We will alert you when we see that your usage spikes a significant amount.</p>
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <input type="checkbox">
            </td>
          </tr>
          <tr>
            <td>
              Hot Cold Temperature Alert
              <p>We'll alert you three days in advance of an exceptionally hot or cold day so that you can make any changes to avoid high costs.</p>
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <input type="checkbox">
            </td>
          </tr>
          <tr>
            <td>
              Weekly Usage
              <p>Once a week, we'll share details about how you used energy for the past 7 days.</p>
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <input type="checkbox">
            </td>
          </tr>
          <tr>
            <td>
              Transaction Alert
              <p>We'll notify you when any payments have posted to your account.</p>
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <input type="checkbox">
            </td>
          </tr>
          <tr>
            <td>
              Rebate Available
              <p>We'll notify you when a new rebate becomes available for a product on your Savings Plan.</p>
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <input type="checkbox">
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
