<div ng-switch="userPrefs.isResidentialUser()">

  <div ng-switch-when="true">

    <div class="section-head overview-title no-side-nav">
      <div class="row">
        <div class="small-8 large-9 columns">
          <h1 class="section-heading title-case">Welcome Jonathan</h1>
        </div>
        <div class="small-3 large-1 small-push-1 large-push-0 columns home-profile">
            <a href="#/my-account/general"><img class="home-avatar" src="img/my-home.png"/></a>
            <a class="show-for-small-only" href="#/my-account/general">View profile</a>
        </div>
        <div class="large-2 columns header-text show-for-medium-up">
          <p class="no-padding">Acct # 52552345-2</br>647 Spruce Street<br/><a href="#/my-account/general">View profile</a></p>

        </div>
      </div>
    </div>
    <div class="row mobile-margins">
    <div class="large-12 columns">
      <div class="overview primary-content-container">

        <div class="bill-summary-bits">
          <h2 class="page-heading">Most Recent Bill</h2>
          <div class="row">
            <div class="small-4 large-3 columns summary-bit">
              <span>Amount due</span>
              <strong>$0.00</strong>
            </div>
            <div class="small-4 large-3 columns summary-bit">
              <span>Due on</span>
              <strong>8/15/2014</strong>
            </div>
            <div class="small-4 large-3 columns last-payment">
              <span>Last payment</span>
              <strong>$243.24</strong>
            </div>
            <div class="small-12 large-3 columns view-and-pay">
              <a href="" class="button primary">Pay now</a>
              <a href="" class="button secondary show-for-small-only">View bill</a>
              <a href="" class="view-bill show-for-medium-up">View bill</a>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="large-4 columns">
            <div class="projected-bill" ng-controller="projectionModalCtrl">
              <h2 class="page-heading">Projected Bill</h2>
              <div class="bill-projection-leader">
                For billing period Jul 15 - Aug 15, you're on track to spend:
              </div>
              <div class="bill-projection-amount-container">
                <div class="bill-projection-amount" ng-click="open()">
                  <div class="geomicon-insight-warn"></div>
                  <strong>$382</strong>
                </div>
              </div>
              <p>You typically spend:&nbsp;<strong>$340</strong></br>
                Time left to save:&nbsp;<strong>14 Days</strong></br>
              </p>
              <div class="projection-lower-my-bill"><a>How can I lower my bill?</a></div>
            </div>
          </div>

          <div class="large-8 columns">
            <div class="happening-recently">
              <h2 class="page-heading">What's been happening recently?</h2>
              <div class="page-subheading">Between July 15 - Aug 1</div>

              <div class="insightlets">
                <ul class="small-block-grid-3">

                  <li class="">
                    <a href="#/my-usage" class="insightlet insightlet-first">
                      <div class="geomicon-insight-warn"></div>
                      <div class="geomicon geomicon-electricity"></div>
                      Projected to spend</br><strong>$42 more</strong>
                        <span class="link">View details</span>
                    </a>
                  </li>

                  <li ng-controller="projectionModalCtrl" class="">
                    <a href="" class="insightlet insightlet" ng-click="open()">
                      <div class="geomicon geomicon-coin"></div>
                      On track for a</br>
                        <strong>high rate tier</strong></br>
                        <span class="link">View details</span>
                    </a>
                  </li>

                  <li class="">
                    <a href="#/my-usage#weather" class="insightlet insightlet">
                      <div class="geomicon geomicon-weather"></div>
                      The average temp</br>
                        was <strong>8˚ warmer</strong></br>
                        <span class="link">View details</span>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="top-ways page-section-break">
          <div class="row">
            <div class="small-4 large-2 columns">
              <img src="img/overview/top-ways.png" class="image-top-ways"/>
            </div>
            <div class="small-8 large-6 columns">
              <h2>What are the top ways to reduce my bills?</h2>
              <p>We'll personalize your recommendations based on your home characteristics and what you use most.
              </p>
            </div>
            <div class="large-4 columns">
              <div class="personalized text-center">
                <a href="" class="button primary">Get personalized recommendations</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

    <div ng-switch-when="false">
      <div class="section-head no-side-nav">
        <div class="row">
          <div class="large-10 columns">
            <h1 class="section-heading title-case">Welcome Laita Souksamlane</h1>
          </div>
          <div class="large-2 columns osha-logo">
            <img src="img/smart-purchases/osha.png"/>
            <a href="#/business/my-account/general">View Profile</a>
          </div>
        </div>
      </div>

      <div class="overview primary-content-container">

      <div class="overview-billing-summary" ng-controller="OverviewCtrl">
        <h2 class="page-heading">My Billing Summary</h2>
        <div class="row">
          <div class="large-4 columns" ng-repeat="location in businessLocations">
            <div class="slab business-location">
              <h3 class="location-heading title-case">{{ location.name }}</h3>
              <div class="row last-payment">
                <div class="large-7 columns">
                  Last payment
                </div>
                <div class="large-5 columns location-amount">
                  {{ location.lastPayment }}
                </div>
              </div>
              <div class="row">
                <div class="large-7 columns">
                  Amount due
                </div>
                <div class="large-5 columns location-amount">
                  {{ location.amountDue }}
                </div>
              </div>
              <div class="row">
                <div class="large-7 columns">
                  Due on
                </div>
                <div class="large-5 columns location-amount">
                  9/7/14
                </div>
              </div>
              <div class="row">
                <div class="large-7 columns">
                  <a href="" class="button primary view-and-pay">Pay Now</a>
                </div>
                <div class="large-5 columns">
                  <a href="" class="view-bill">View Bill</a>
                </div>
              </div>
              <div class="location-projections">
                <div class="row">
                  <div class="large-7 columns">
                    Projected Bill <span class="geomicon-info"></span>
                  </div>
                  <div class="large-5 columns location-amount">
                    {{ location.projectedBill }}
                  </div>
                </div>
                <div class="row">
                  <div class="large-7 columns">
                    Time left to save
                  </div>
                  <div class="large-5 columns location-amount">
                    14 days
                  </div>
                </div>
                <div class="location-projection-alert" ng-if="location.on_track">
                  <div class="geomicon geomicon-insight-good"></div> On track for typical spend. <a href="">Learn why</a>
                </div>
                <div class="location-projection-alert" ng-if="!location.on_track">
                  <div class="geomicon geomicon-insight-warn"></div> More than typical spend. <a href="">Learn why</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="show-all-accounts">
          <a href="">Show all accounts</a>
        </div>
      </div>

      <div class="happening-recently page-section-break">
        <h2 class="page-heading">What’s happened recently?</h2>
        <ul class="small-block-grid-5">
          <li class="">
            <a href="#/my-usage" class="insightlet insightlet-first">
              <div class="geomicon geomicon-electricity"></div>
              <div class="geomicon-insight-warn"></div>
              <span class="insightlet-heading">Osha Thai-2nd St:</span>
              <strong>Electricity use increased by 33%</strong>
              <span class="link">View details</span>
            </a>
          </li>
          <li class="">
            <div class="insightlet">
              <div class="geomicon-insight-warn op-has-tooltip"><span class="op-tooltip icon-tooltip">Switch rate plan. Save $2,724/yr. <a href="#/pay-and-manage/biz-rate-tier" class="tooltip-link">Compare rate plans</a></span></div>
              <div class="geomicon geomicon-fire"></div>
              <span class="insightlet-heading">Osha Thai-2nd St:</span>
              <strong>Peak hour use increased by 14%</strong>
              <span class="link">View details</span>
            </div>
          </li>
          <li class="">
            <a href="" class="insightlet">
              <div class="geomicon geomicon-fire"></div>
              <span class="insightlet-heading">Osha Thai-Mission:</span>
              <strong>Natural gas use increased by 4%</strong>
              <span class="link">View details</span>
            </a>
          </li>
          <li class="">
            <a href="" class="insightlet">
              <div class="geomicon geomicon-coin"></div>
              <span class="insightlet-heading">For all locations:</span>
              <strong>Rates did not change this month</strong>
              <span class="link">View details</span>
            </a>
          </li>
          <li class="">
            <a href="" class="insightlet">
              <div class="geomicon geomicon-weather"></div>
              <span class="insightlet-heading">For all locations:</span>
              The average temp was <strong>13° colder</strong>
              <span class="link">View details</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="top-ways-to-reduce page-section-break">
        <h2 class="page-heading">Top ways to reduce my bills</h2>
        <div class="row">
          <div class="top-ways-tip">
            <div class="large-2 columns">
              <img src="img/overview/savings.png" class="image-savings"/>
            </div>
            <div class="large-5 columns top-ways-tip-detail">
              For Osha Thai - 2nd St: Switch to A-1 General service rate plan and save up to $2,724/year.
            </div>
            <div class="large-4 columns">
              <a href="#/pay-and-manage/biz-rate-tier" class="button secondary">Compare rate plans</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="top-ways-tip">
            <div class="large-2 columns">
              <img src="img/overview/top-ways.png" class="image-top-ways"/>
              <!--<img src="img/overview/dissag.png"  class="image-dissag"/>-->
            </div>
            <div class="large-5 columns top-ways-tip-detail">
              Get a savings plan based on your business characteristics and what uses most.
            </div>
            <div class="large-4 columns">
              <a href="" class="button secondary">Tell us how you use energy</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="top-ways-tip">
            <div class="large-2 columns">
              <img src="img/marketplace/thumb-honeywell1.png"  class="image-honeywell"/>
            </div>
            <div class="large-5 columns top-ways-tip-detail">
              Shop for energy-saving appliances to stop wasting energy in your building.
            </div>
            <div class="large-4 columns">
              <a href="" class="button secondary">Shop in marketplace</a>
            </div>
          </div>
        </div>
      </div>
      </div>


    </div>

  </div>


</div>
