$footer-padding:150px;
$footer-gray-h1: #a6abad;
$footer-gray-h2: #36393c;
$footer-gray-copy: #888e8e;
$marg-bott:20px;
$double-marg-bott:($marg-bott * 2);

footer {
	padding-top:$footer-padding;
	padding-bottom:0;
	@media #{$medium-up}{
		/* padding-bottom:\$footer-padding; */
	}
	a:hover {
		text-decoration:underline !important;
	}
	.footer-home {
		padding-bottom:70px;
		@media #{$medium-up}{
			padding-bottom:$footer-padding;
		}
	}
	h1,h2,ul,.copyright,.hmh-logo,.social-links {
		display:block;
		margin:auto;
		font-family:$font-family;
		text-align:center;
		margin-bottom:$marg-bott;
	}
	ul {
		li{
			display: inline-block;
			text-align: center;
			position: relative;
		}
		li + li:before {
	    content: " | ";
			color:$footer-gray-h1;
		}
		&.hmh-assets {
			font-weight:400;
		}
		&.cw-foot-links {
			font-weight:400;
			margin-bottom:$double-marg-bott;
		}
	}
	h1,.copyright {
		text-transform: uppercase;
		font-size:1rem;
	}
	h1 {
		color:$footer-gray-h1;
	}
	h2 {
		color:$footer-gray-h2;
		margin-bottom:0px;
	}
	h3{
		font-size:rem-calc(21);
		text-align:center;
		margin-bottom:50px;
	}
	h4{
		font-size:rem-calc(18);
		color:#707173;
		text-align:center;
		text-transform:uppercase;
		width:65%;
		margin: 0 auto;
		margin-bottom:20px;
	}
	.hmh-logo {
		margin-bottom:50px;
	}
	.copyright {
		color:$footer-gray-copy;
		font-size:rem-calc(14);
	}
	.copyright {
		&:before {
			content:'\00a9';
		}
	}
	.social-links {
		margin-bottom: 50px;
		@media #{medium-up} {
			margin-bottom:0;
		}
		a {
			@include hide-text();
			text-indent: 200%;
			display: inline-block;
			width:30px;
			height:30px;
			&.facebook {
				background: transparent url(../img/social-icons/social-facebook.png) no-repeat 50% 50%;
				&:hover {
					background:url(../img/social-icons/social-facebook-hover.png) no-repeat 50% 50%;
				}
			}
			&.twitter {
				background: transparent url(../img/social-icons/social-twitter.png) no-repeat 50% 50%;
				&:hover {
					background:url(../img/social-icons/social-twitter-hover.png) no-repeat 50% 50%;
				}
			}
		}

	}
}

.promotion-footer{
	.page-link{
		position:absolute;
		display:block;
		width:100%;
		height:100%;
		z-index:100;
	}
	&.home{
		position:fixed;
		bottom:-270px;
	}
	margin-top:0px;
	background: $blue-bg;
	min-height: 80px;
	width: 100%;
	z-index:2;//sit over footer
	transition: 0.5s all ease-in-out;
	position:relative;
	bottom:-1px;
	@media #{$medium-up}{
		margin-top:150px;
	}
	&:before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background: url('../img/landing/feature.svg');
		background-size: cover;
	}
	h2{
		display:none;
		@media #{$large-up}{
			margin-top:20px;
			margin-bottom:0;
			line-height:40px;
			color:$white;
			display:inline;
			font-size:rem-calc(28);
			position:absolute;
			top:0px;
		}
	}
	.footer-friends{
		position:absolute;
		top:-96px;
		left:-40px;
		@include tansform-scale(.6);
		@media #{$medium-only}{
			left:50px;
			top:-119px;
			@include tansform-scale(.8);
		}
		@media #{$large-up}{
			left:520px;
			top:-141px;
			@include tansform-scale(1.0);
		}
	}
	.app-store{
		width:150px;
		position:absolute;
		right:8px;
		top:14px;
		z-index:101;//1 higher than the .page-link
		@media #{$medium-up}{
			right:50px;
		}
	}
}
