<div class="row">
	<div class="small-4 medium-3 columns">
		<h1 id="logo"><a href="./">Curious World</a></h1>
	</div>
	<div>
		<strong id="mobile-title" class="show-for-small-only">{{$root.pageTitle || "Untitled"}}</strong>
		<nav id="mobile-nav" class="show-for-small-only">
			<a class="mobile-button" data-reveal-id="nav-modal"></a>
			<div id="nav-modal" class="reveal-modal options-modal" data-reveal>
				<ul>
					<li ng-if="!userInfo.isLoggedIn()" class="sign-in">
						<a href="#/sign-in">Sign In</a>
					</li>
					<li ng-if="!userInfo.isLoggedIn()" class="create-account">
						<a href="#/sign-up">Sign Up</a>
					</li>
					<li class="user-mobile" ng-if="userInfo.isLoggedIn()">
            <label>Hi, {{userInfo.getUser().displayName}}</label>
            <ul class="submenu">
              <li>
                <a href="#/manage">Manage</a>
              </li>
              <li>
                <a href="https://customercare.hmhco.com/contactus/customer_service/online_orders.html">Get Help</a>
              </li>
              <li>
                <a ng-click="userInfo.logout()">Sign Out</a>
              </li>
            </ul>
					</li>
					<li class="home"
						ng-class="{ 'is-active': $root.activeNav === 'home' }">
						<a href="./">Home</a>
					</li>
					<li class="learning-areas-nav"
						ng-class="{ 'is-active': $root.activeNav === 'learning-areas' }">
						<a href="learning-areas">Learning Areas</a>
					</li>
					<li class="flashcards"
						ng-class="{ 'is-active': $root.activeNav === 'flashcards' }">
						<a href="flashcards">Flashcards</a>
					</li>
					<li class="shop"
						ng-class="{ 'is-active': $root.activeNav === 'shop' }">
						<a href="shop">Shop</a>
					</li>
					<li class="blog"
						ng-class="{ 'is-active': $root.activeNav === 'blog' }">
						<a href="blog">Blog</a>
					</li>

				</ul>
			</div>
		</nav>
		<nav id="navigation" class="show-for-medium-up">
			<ul id="account-navigation">
				<li id="account-menu" ng-if="userInfo.isLoggedIn()">
					<a class="show-for-touch"
						data-dropdown="account-menu-dropdown">
						<span>{{userInfo.getUser().displayName}}</span>
					</a>
					<a class="hide-for-touch" data-options="is_hover:true"
						data-dropdown="account-menu-dropdown">
						<span>{{userInfo.getUser().displayName}}</span>
					</a>
					<ul id="account-menu-dropdown" class="f-dropdown" data-dropdown-content>
						<li><a href="#/manage">Manage</a></li>
						<li><a href="https://customercare.hmhco.com/contactus/customer_service/online_orders.html">Get Help</a></li>
						<li><a ng-click="userInfo.logout()">Sign Out</a></li>
					</ul>
				</li>
			</ul>
			<ul id="main-navigation">
				<li class="learning-areas-nav"
					ng-class="{ 'is-active': $root.activeNav === 'learning-areas' }">
					<a href="learning-areas">Learning Areas</a>
				</li>
				<li class="flashcards"
					ng-class="{ 'is-active': $root.activeNav === 'flashcards' }">
					<a href="flashcards">Flashcards</a>
				</li>
				<li class="shop"
					ng-class="{ 'is-active': $root.activeNav === 'shop' }">
					<a href="shop">Shop</a>
				</li>
				<li class="blog"
					ng-class="{ 'is-active': $root.activeNav === 'blog' }">
					<a href="blog">Blog</a>
				</li>
				<li class="sign-in" ng-if="!userInfo.isLoggedIn()"
					ng-class="{ 'is-active': $root.activeNav === 'sign-in' }">
					<a href="#/sign-in">Sign In</a>
				</li>
				<li class="sign-up" ng-if="!userInfo.isLoggedIn()"
					ng-class="{ 'is-active': $root.activeNav === 'sign-up' }">
					<a href="#/sign-up">Sign Up</a>
				</li>
			</ul>
		</nav>
	</div>
</div>

<div id="sign-in-modal" class="reveal-modal account-modal small" authenticate-login-form template-url="partials/modals/signin.html" data-reveal></div>
