$header-height:70px;
$mobile-header-height:55px;
$header-logo-height:54px;

$header-padding: 24px;
$navigation-item-size: 120px;
$navigation-item-padding: 70px;
$navigation-item-icon-size: 44px;
$navigation-mobile-icon-size: ($mobile-hitbox / 2);
$domain-mobile-icon-size: ($mobile-hitbox / 2);
$account-item-height: 36px;
$account-item-padding: 16px;
/* \$account-menu-width: 190px; */
$account-menu-item-padding: 20px;
$account-menu-item-height: 50px;
$header-bar-height: 50px;
$checkbox-size: 16px;
$dropdown-shadow-position: 2px;
$dropdown-shadow-size: 4px;
$dropdown-shadow: 0 $dropdown-shadow-position $dropdown-shadow-size transparentize($black, 0.7);
$account-menu-width: 180px;

$color-link-hover: #48b6e8;
$color-link-active: #48b6e8;

// Mobile Navigation
.mobile-button {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	background: transparent url(../img/nav-mobile.png) scroll no-repeat 50% 50%;
	width: 68px;
	height: $mobile-header-height;

	&.close-reveal-modal {
		display: block;
		//top: -$mobile-header-height;
		right: 0;
	}
}
#mobile-title {
	display: block;
	position: absolute;
	right: 60px;
	top: 0;
	height: $mobile-header-height;
	line-height: $mobile-header-height;
	font-weight: normal;
	font-size: rem-calc(16);
	color: $dark-grey;
}
#mobile-back {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	padding-left: 40px;
	width: 50%;
	height: $mobile-header-height;
	line-height: $mobile-header-height;
	color: $dark-grey;
	cursor: pointer;
	background: $white;

	&:before {
		content: "";
		display: block;
		position: absolute;
		left: (((40px / 2) + (20px / 2)) / 2);
		width: (20px / 2);
		height: 100%;
		background: transparent url(../img/mobile-back.png) scroll no-repeat 50% 50%;
		background-size: contain;
	}
}
@media #{$small-only} {
	.reveal-is-open,
	.move-left,
	.move-right {
		#mobile-back {
			display: block;
		}
		#mobile-title {
			display: none;
		}
	}
	#nav-modal {
		@include border-radius(0px,0px,0px,0px);
	}
}
// Main Navigation
#header {
	position: fixed;
	top:0;
	width: 100%;
	height: $header-height;
	background: rgba(255,255, 255, 0.8);
	z-index: 2000;
	transition: .5s background ease;
	&:hover{
		background: rgba(255,255, 255, 1);
	}
	@media #{$small-only} {
		//position:relative;
		height:	$mobile-header-height;
	}
}
#logo {
	@include hide-text();
	position:relative;
	overflow:visible;
	text-indent:-10000px;
	margin: 0;
	background: url(../img/curious-world-logo.png) center center no-repeat;
	background-size:contain;
	height:$header-height;
	line-height:$header-height;
	display:block;
	@media #{$small-only} {
		margin-top: ($mobile-header-height - $mobile-hitbox);
		height:auto;
		line-height:40px;
		width:80px;
		background: transparent url("../img/curious-world-logo-sml.png")  no-repeat;
		@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
			background-image: url("../img/curious-world-logo-sml-2x.png");
			background-size: (124px / 2) (66px / 2);
		}
	}
	a {
		display: block;
		width:100%;
		height:100%;
		@media #{$small-only}{
			&:after{
					font-family:helvetica;
					content: '\2122';
					position:absolute;
					top:-12px;
					right:0;
					font-size:rem-calc(14);
					color:$orange;
					font-weight:100;
			}
		}
		&:after{
			@media #{$medium-up}{
				font-family:helvetica;
				content: '\2122';
				position:absolute;
				top:-8px;
				right:-16px;
				font-size:rem-calc(14);
				color:$orange;
				font-weight:100;
			}
		}
	}
}

#navigation{
	ul{
		float:right;
		li{
			display:inline-block;
			line-height:$header-height;
			padding-right:10px;
			white-space:nowrap;
			&.is-active{
				a{
					font-weight:bold;
					color: $color-link-active;
				}
			}
			&.sign-up{
				a{
					border-radius:18px;
					background: $orange;
					padding:10px 25px;
					color:white;
					&:hover{
						background: $orange-hover;
						color: white;
					}
				}
			}
			a{
				color: $link-grey;
				&:hover {
					color: $color-link-hover;
				}
			}
			@media #{$medium-only} {
				padding-right: 10px;
				a {
					font-size: rem-calc(16);
				}
				&.sign-up {
					a {
						font-size:rem-calc(14);
						padding:10px;
					}
				}
			}
			@media #{$large-up} {
				padding-right: 25px;
				a {
					font-size: rem-calc(18);
				}
			}
		}
	}
}

#account-navigation{
	margin-right:30px;//to make room for the dropdown
	span {
		position: relative;
		display: inline-block;
		padding-right: 24px;
		height: 100%;

		&:after {
			content: "";
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			width: 24px;
			height: 100%;
			background: transparent url(../img/account/user-dropdown.png) no-repeat 50% 50%;
		}
	}
	.f-dropdown {
		width:100%;
		font-size: 1.25rem;
		border:none;
		background: $white;
		z-index: 1;
		box-shadow: 0 0 20px transparentize($black, 0.5);

		&:before,
		&:after {
			content: none;
			display: none;
		}
		ul {
			position: absolute;
			top: 70px;
			list-style: none;
			margin: 0;
			font-size: inherit;
			background: $white;
			pointer-events: auto;
			box-shadow: 0 0 20px transparentize($black, 0.5);
			-webkit-box-sizing: content-box;
			-moz-box-sizing: content-box;
			box-sizing: content-box;
		}
		li {
			margin: 0;
			padding: 0;
			width: 100%;
			min-width: $account-menu-width;
			font-size: inherit;
			cursor: default;
			display:block;
			&:hover {
				background: none;
			}
		}
		a {
			display: block;
			padding: 0 $account-menu-item-padding;
			height: $account-menu-item-height;
			line-height: $account-menu-item-height;
			font-size: inherit;
			font-weight: 300;
			white-space: nowrap;
			cursor: pointer;

			&:hover {
				background: $light-grey;
			}
		}
	}
}

.fixfixed #header { 
	position: absolute;
}

#account-menu{
	a{
		line-height:40px;
	}
}
