@import 'navigation';
@import 'footer';

.loader-bg{
  background: rgba(59, 70, 86, 0.85);
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:9000;
  width:100%;
  height:100%;
  display:none;
  opacity: 0;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@keyframes spin {
  to { transform: rotate(1turn);  }
}

$container-width: 154px;
$item-width:26px;

.loader {
  position: relative;
  top:50%;
  left:50%;
  display: inline-block;
  width: $container-width;
  height: $container-width;
  margin: -($container-width/2);
  font-size: 12px;
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1s infinite steps(8);
  &:before {
    background: #eee;
    opacity: 1;
  }
  &:after {
    transform: rotate(-45deg);
    background: #eee;
    opacity: 0.5;
  }
  > div {
    width:$container-width;
    height:$item-width;
    line-height: $container-width;
    &:before {
      transform: rotate(-90deg);
      background: #eee;
      opacity: 0.25;
    }
    &:after {
      transform: rotate(-135deg);
      background: #eee;
      opacity: 0.25;
    }
  }
  &:before,
  &:after,
  > div:before,
  > div:after {
    content: '';
    position: absolute;
    display:block;
    top: 0;
    left: ($container-width - $item-width)/2; /* (container width - part width)/2  */
    width: $item-width;
    height: $item-width;
    border-radius: 50%;
    box-shadow: 0 ($container-width - $item-width) rgba(255,255,255,0.2); /* container height - part height */
    transform-origin: 50% ($container-width/2); /* container height / 2 */
  }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
