$card-button-size: 133px;
$card-icon-size: 66px;
$card-navigation-width: 100px;
$card-navigation-icon-width: 20px;
$card-width-max: 830px;
$card-height-min: 425px;
$card-vertical-padding: 60px;
$card-horizontal-padding: 40px;
$card-vertical-margin: 50px;
$age-selector-height: 35px;
$age-selector-item-width: (100% / 5);
$age-selector-label-width: 90px;

$title-color: #3d4456;

//active variables
$card-border: #c9c9c9;
$card-nav-bg: #c7cdd1;
$card-nav-link: #c7cdd1;

// Card selector
#cards-section,
.cards-section {
  position: relative;
	margin-bottom: 90px;
  @media #{$small-only}{
    margin-bottom:150px;
  }

	.item-navigation {
		position: absolute;
		height: $mobile-hitbox;
		color: $white;
		z-index: 0;
		position: absolute;
		top: 0;
		margin: 0 auto;
		width: 100%;
		height: 100%;
    @media #{$small-only}{
      transform: translateX(-50%);
      width:200px;
      margin: 80px auto 0 auto;
      left:50%;
    }
		a {
			position: absolute;
			display:block;
			width: 80px;
			top:50%;
			transform: translate(0, -50%);
			font-size:rem-calc(14);
      text-align:center;
			color:$card-nav-link;
      @media #{$small-only}{
        top:auto;
        bottom:0;
        transform: translate(0,0);
        display:inline;
      }
			&:before {
				content:'';
				display:inline-block;
				width:100%;
				height:80px;
				background-color:$card-nav-bg;
        @media #{$small-only}{
          position:absolute;
          top:-15px;
          right:-55px;
          height:55px;
          width:45px;
        }
			}
			&:after {
				content:'';
				display:block;
				position:relative;
				top:-85px;
				width:23px;
				height:35px;
				background: url("../img/flashcards/card-Arrows.png") no-repeat 0 0;
        @media #{$small-only}{
          position:absolute;
          top:-5px;
          right:-50px!important;
          margin-left:73px;
          transform: scale(0.7);
        }
			}
			&.next:after {
				background-position:0 -37px;
				left: 28px;
			}
			&.prev:after {
				left: 28px;
			}
			&:hover {
				color:$link-blue;
				&:before {
					background-color:$link-blue;
				}
			}
			&.prev{
				left:-10px;
        @media #{$small-only}{
          &:before{
          position:absolute;
          top:-15px;
          right: 85px;
          height:55px;
          width:45px;
          }
          &:after{
            position:absolute;
            top:-5px;
            right:0px!important;
            margin-left:-69px!important;
            transform: scale(0.7);
          }
        }
      }
			&.next{
				right:-10px;
			}
      span{
        display:inline!important;
      }
    }
	}

	// Cards
  .items {
    position: relative;
    margin: 0 70px;
		max-width: $card-width-max;
		overflow: visible !important;
    z-index: 1;
    @media #{$small-only}{
      margin: 0 auto;
    }
  }
  .items.is-empty {
    display: none;
  }
  #default-card {
		padding: 0;
		padding-bottom: 66%;
		height: 0;
		color: $link-grey;
		text-align: center;
		background: $white url(../img/home/main-card-image.jpg) scroll no-repeat 50% 50%;
		background-size: cover;
		overflow: hidden;

    p {
			display: none;
			padding: 40px;
			font-size: 1.5rem;
			line-height: 1.2;
			font-weight:100;
			color: #999;

			@media #{$small-only} {
				margin: 0;
			}

			@media #{$medium-up} {
				padding: 40px 40px 70px 40px;
				font-size: 3rem;
				line-height: 1.4;
				}
		}
		.button {
			float: left;
			position: absolute;
			left: 0;
			bottom: 0;
			display: block;
			margin: 0;
			padding: 0;
			width: 49.8%;
			height: 90px;
			line-height: 90px;
			text-align: center;
			color: $grey;
			font-weight: 600;
			font-size: 1rem;
			background-color: transparentize($white, 0.9);
			white-space: nowrap;

			@media #{$medium-up} {
				font-size: 1.4rem;
			}
			@media #{$large-up} {
				height: $card-button-size;
				line-height: $card-button-size;
				font-size: 1.9rem;
			}
			&:hover {
				color: $success-green;
				background: transparentize($white, 0.3);

				&:before {
					opacity: 1;
				}
			}
			&:before {
				content: "";
				display: inline-block;
				margin-right: 12px;
				width: 28px;
				height: 28px;
				background: transparent none scroll no-repeat 50% 50%;
				background-size: contain;
				vertical-align: middle;
				opacity: 0.7;

				@media #{$medium-up} {
					width: 48px;
					height: 48px;
				}
				@media #{$large-up} {
					width: 68px;
					height: 68px;
				}
			}
			& + .button {
				left: auto;
				right: 0;
			}
			&.learn-more {
				&:before {
					background-image: url(../img/home/play-icon.png);
				}
				&:hover:before {
					background-image: url(../img/home/play-icon-pressed.png);
				}
			}
			&.get-started {
				&:before {
					background-image: url(../img/home/intro-check.png);
				}
				&:hover:before {
					background-image: url(../img/home/intro-check-pressed.png);
				}
			}

		}
  }
  .item {
		display: block;
		list-style: none;
		position: absolute;
		top: 0;
		left: 150%;
		width: 100%;
		color: $dark-grey;
		//transition: all 0.6s ease;
		opacity: 0;
		/* box-shadow: 0px 4px 10px 2px transparentize(\$black, 0.9); */
		pointer-events: none;


		&.is-active {
			position: relative;
			left: 0;
			opacity: 1;
			pointer-events: auto;
		}
	}
	.backward .item {
		left: -150%;
	}
}

#cards-section .card {
	background-color: white;
	@include border-radius(25px,25px,25px,25px);
	border: 1px solid $card-border;
	background: $white;
	padding-right:40px;
  @media #{$small-only}{
    padding-right:0;
  }
	&:before, &:after {
		@include border-radius(25px,25px,25px,25px);
		content: '';
		position: absolute;
		z-index: -1;
		bottom: 19px;
		box-shadow: 0 14px 21px rgba(0, 0, 0, 0.38);
		width: 45%;
		height: 12%;
	}
	&:before {
		left: 17px;
		transform: rotate(-6deg) skew(-0deg);
	}
	&:after {
		right: 17px;
		transform: rotate(6deg) skew(0deg);
	}

	@media #{$medium-up} {
		min-height: $card-height-min;
    .row {
      margin-top:120px;
    }
	}
	h1 {
		margin: 0;
		margin-bottom: 20px;
		line-height: 36px;
		font-size: rem-calc(38);
		font-weight: 700;
		line-height:1;
    color: $title-color;
		@media #{$small-only} {
			font-size:rem-calc(36);
      margin-bottom: 30px;
		}
	}
	.example {
		margin: ($card-vertical-margin / 2) ($card-horizontal-padding / 2);

		@media #{$medium-up} {
			margin: ($card-vertical-margin) ($card-horizontal-padding);
		}
		@media #{$small-only} {
			font-size:0.8rem;
			margin-top:10px;
			margin-bottom:10px;
		}
	}
	.description {
		clear: both;
		margin: 0 40px;
		padding-top: ($card-vertical-padding / 2);

		@media #{$medium-up} {
			padding-top: $card-vertical-padding;
		}
		@media #{$small-only} {
			padding-top:15px;
		}
	}

	// Buttons
	.upload-buttons,
	.completion-buttons {
		width: 50%;
		margin: 14px 0;
		height: $card-button-size;

		& > div {
			height: 100%;
		}
		a,
		.dz-success {
			position: relative;
			display: block;
			padding-top: ($card-button-size * 0.6);
			width: 100%;
			height: 100%;
			text-align: center;
			color: $grey;
			font-weight: 300;
			background-color: $light-grey;

			&:hover {
				background: darken($light-grey, 5);
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				left: 50%;
				bottom: ($card-button-size * 0.25);
				margin-left: -($card-icon-size / 2);
				width: $card-icon-size;
				height: $card-icon-size;
				background: transparent none scroll no-repeat 50% 50%;
				z-index: 2;
				@include ease-item(250ms);
			}
			&:hover:before {
				bottom: ($card-button-size * 0.4);
			}
		}
	}
	.upload-buttons {
		float: left;
		position: relative;

		a:before {
			background-image: url(../img/home/upload-photo.png);
		}
		.done-state,
		.dz-success {
			color: $success-green;

			&:before {
				background-image: url(../img/home/upload-photo-success.png);
				bottom: ($card-button-size * 0.4);
			}
		}
		&.dz-started {
			.ready-state span {
				display: none;
			}
		}
		.dz-preview {
			display: none;
			position: absolute;
			left: 0;
			top: 0;
			padding-top: ($card-button-size * 0.6);
			width: 100%;
			height: 100%;
			text-align: center;
			pointer-events: none;

			&:last-child {
				display: block;
				z-index: 2;
			}
			.dz-details {
				display: none
			}
			.dz-progress {
				margin: 0 10%;
				width: 80%;
				height: 16px;
				background: $grey;

				.dz-upload {
					display: block;
					height: 100%;
					color: $dark-grey;
				}
			}
			&.dz-error {
				.dz-error-message {
					display: block;
					color: $error-red;
				}
				.dz-progress {
					display: none;
				}
			}
			&.dz-success {
				.dz-progress {
					display: none;
				}
				.dz-success-mark {
					display: block;

					&:before {
						content: "Captured!";
					}
					span {
						display: none;
					}
				}
			}
		}
	}
	.completion-buttons {
		float: right;
		border-left: 1px solid $white;

		a:before {
			background-image: url(../img/home/card-mark-complete.png);
		}
		.done-state {
			color: $success-green;

			&:before {
				background-image: url(../img/home/card-mark-complete-green.png);
				bottom: ($card-button-size * 0.4);
			}
		}
	}
	.dz-drag-hover {
		.ready-state:after {
			content: "";
			position: absolute;
			top: 4%;
			left: 2%;
			display: block;
			width: 96%;
			height: 92%;
			border: 2px dashed transparentize($dark-grey, 0.5);
			border-radius: 8px;
			pointer-events: none;
			z-index: 2;
		}
	}
}

.reveal-modal{
	@include border-radius(25px,25px,25px,25px);
	padding:0;
	.modal-card{
		background-color: $white;
		border: 1px solid $card-border;
		background: $white;
		padding: 45px 35px 35px 35px;
    overflow:hidden;
		@include border-radius(25px,25px,25px,25px);
		&:before, &:after {
			@include border-radius(25px,25px,25px,25px);
			content: '';
			position: absolute;
			z-index: -1;
			bottom: 17px;
			box-shadow: 0 14px 21px rgba(0, 0, 0, 0.38);
			width: 45%;
			height: 12%;
		}
		&:before {
			left: 17px;
			transform: rotate(-6deg) skew(-0deg);
		}
		&:after {
			right: 17px;
			transform: rotate(6deg) skew(0deg);
		}
		.card-domain{
			padding:0;
			margin:0;
			position:absolute;
			right:35px;
		}
		.social-links {
			a {
				text-indent: 200%;
				display: inline-block;
				width:22px;
				height:22px;
				margin-right:10px;
				&.facebook {
					background: transparent url(../img/social-icons/modal/facebook-icon.png) no-repeat 50% 50%;
					&:hover {
						background:url(../img/social-icons/modal/facebook-hover.png) no-repeat 50% 50%;
					}
				}
				&.email {
					background: transparent url(../img/social-icons/modal/email-icon.png) no-repeat 50% 50%;
					&:hover {
						background:url(../img/social-icons/modal/email-hover.png) no-repeat 50% 50%;
					}
				}
				&.pinterest {
					background: transparent url(../img/social-icons/modal/pinterest-icon.png) no-repeat 50% 50%;
					&:hover {
						background:url(../img/social-icons/modal/pinterest-hover.png) no-repeat 50% 50%;
					}
				}
				&.twitter {
					background: transparent url(../img/social-icons/modal/twitter-icon.png) no-repeat 50% 50%;
					&:hover {
						background:url(../img/social-icons/modal/twitter-hover.png) no-repeat 50% 50%;
					}
				}

			}
		}
	}
}

.card-buttons{
  position:absolute;
  top:50%;
  transform: translate(0, -50%);
  @media #{$small-only}{
    position:initial;
    top:initial;
    transform: initial;
    margin: 0 auto;
  }
}

.card-copy{
  @media #{$small-only}{
    padding-right:60px;
    position:initial;
    top:initial;
    transform: initial;
    margin-left:25px;
  }
}
