<div class="small-12 columns">
  <div class="tab-content">
    <section id="cards-section">

      <ul class="items" ng-init="isForward = true; selectedCard = 0"
        ng-class="{ 'is-empty': !cards.length, 'backward': !isForward, 'forward': isForward }">

        <li class="item"
          ng-repeat="card in cards track by $index"
          ng-class="{ 'is-active': $parent.selectedCard === $index, 'is-last': $parent.lastCard === $index }"
          ng-include="'flashcards/single-card.html'">
        </li>
      </ul>

      <div class="item-navigation" ng-show="selectedCard >= 0">
        <a class="prev"
          ng-show="selectedCard >= 1"
          ng-click="isForward = false; lastCard = selectedCard; selectedCard = Math.max(selectedCard - 1, -1)">Prev card</a>
        <a class="next"
          ng-show="(selectedCard + 1) < cards.length"
          ng-click="isForward = true; lastCard = selectedCard; selectedCard = Math.min(selectedCard + 1, cards.length - 1)">Next card</a>
      </div>

    </section>
  </div>
</div>
