<div class="flashcards-page" on-load-fade>
<!--   top dropdowns -->
  <div class="row">
    <div class="small-12 columns dropdowns">
      <a data-dropdown="select-age" data-options="is_hover:true" class="card-drop-down">Select Child's Age</a>
        <ul id="select-age" class="f-dropdown" data-dropdown-content>
          <li ng-repeat="age in ages"
            ng-class="{ 'is-selected': $parent.$parent.selectedAge === age }">
            <a ng-click="$parent.$parent.selectedAge = age">{{age}}</a>
          </li>
        </ul>

      <a data-dropdown="choose-domain" data-options="is_hover:true" class="card-drop-down">Choose Learning Area</a>
        <ul id="choose-domain" class="f-dropdown" data-dropdown-content>
          <li ng-class="{ 'is-selected': domains[0] === $parent.selectedDomain || !$parent.selectedDomain }">
            <a ng-class="'domain-' + domains[0].name"
              ng-click="$parent.selectedDomain = domains[0]">
              <span class="title">{{domains[0].title}}</span>
            </a>
          </li>
          <li ng-repeat="domain in domains"
            ng-hide="$first"
            ng-class="{ 'is-selected': domain === $parent.selectedDomain }">
            <a ng-class="'domain-' + domain.name"
              ng-click="$parent.selectedDomain = domain">
              <span class="title">{{domain.title}}</span>
            </a>
          </li>
        </ul>
    </div>
  </div>

  <div id="cards" on-load-fade class="row" ng-include="'flashcards/cards.html'"></div>
  <section position-scroll class="completed-cards position hide-for-small-only" ng-include="'flashcards/completed-milestones-section.html'"></section>
  <section id="static-milestones" class="completed-cards" ng-include="'flashcards/completed-milestones-section.html'"></section>

</div>

<!--default flashcard modal #defaul-flashcard-->
<div ng-include="'partials/modals/default-flashcard.html'"></div>

<!--next set of flashcards #next-flashcards-->
<div ng-include="'partials/modals/next-flashcards.html'"></div>

<!--welcome flashcard #welcome-flashcards-modal-->
<div ng-include="'partials/modals/welcome-flashcards-modal.html'"></div>

<!--flashcards sign-in sign-up #flashcards-sign-in-->
<div ng-include="'partials/modals/flashcards-sign-in.html'"></div>

<!--thumbs-up modal example #thumbs-up-modal-->
<div ng-include="'partials/modals/thumbs-up-modal.html'"></div>

<!--you-did-it modal example #you-did-it-->
<div ng-include="'partials/modals/you-did-it-modal.html'"></div>
