@import 'cards';

$domain-height: 150px;
$domain-width: (100% / 8);
$domain-min-width: 140px;
$domain-padding: 75px;
$domain-title-height: 48px;
$domain-icon-size: 42px;
$domain-unlock-grey: #898c8d;
$domain-shadow: 0px 1px 6px rgba(0, 0, 0, 0.16);
$background-color: white;

//new styles below
$dropdown-border: #8a8d8f;
$dropdown-bg: #3c4456;
$dropdown-select-bg: #798893;
$card-border: #c9c9c9;
$card-nav-bg: #c7cdd1;
$card-btn-bg: #fbfbfb;
$card-btn: #798794;
$card-btn-hvr: #798794;
$card-btn-act: #19b0ff;
$no-media-color: #92989b;
$list-item-gray: #4e5055;
$darker-border: #d8d8d8;

$include-html-dropdown-classes: $include-html-classes;
$f-dropdown-triangle-side-offset: 50%;

.flashcards-page {
	position:relative;
	z-index:1;
	margin-top:70px;
	padding-top:50px;
	background-color: $icon-gray;
	border-top: 2px solid #dfdfdf;
	overflow:hidden;
	opacity:0;
	transition: 1s opacity ease-in;
	@media #{$small-only}{
		margin-top:0;
	}

	.dropdowns{
		margin-bottom:42px;
		.card-drop-down {
			display:inline-block;
			line-height:40px;
			padding: 0 60px 0 16px;
			height:40px;
			margin: 0 40px 0 0;
			color: $white;
			border:1px solid $dropdown-border;
			background-color: #3c4456;
			position:relative;
			width:260px;
			@include border-radius(8px, 8px, 8px, 8px);
			@media #{$small-only}{
				display:block;
				margin: 10px auto;
				width:290px;
			}
			&:after {
				content:'';
				position:absolute;
				top:-1px;
				right:0;
				height:40px;
				width:45px;
				border:1px solid $dropdown-border;
				background:$dropdown-select-bg url("../img/small-arrow-dwn.png") no-repeat 4px center;
				@include border-radius(0, 8px, 8px, 0);
				@media #{$small-only}{
					background-color: #3c4456;
				}
			}
		}
	}

	.f-dropdown{
		margin-top:7px;
		border:transparent;
		width:100%;
		background-color: $card-btn-hvr;
		max-width:255px;
		@include border-radius(8px, 8px, 8px, 8px);
		li{
			overflow:hidden;
			&:first-child {
				@include border-radius(8px, 8px, 0, 0);
			}
			&:last-child {
				@include border-radius(0, 0, 8px, 8px);
			}
			a{
				color:$white;
				&:hover{
					background-color:$link-blue;
				}
				&.domain-creative {
					&:hover{
						background-color: $color-creative;
					}
				}
				&.domain-language {
					&:hover{
						background-color: $color-language;
					}
				}
				&.domain-math {
					&:hover{
						background-color: $color-math;
					}
				}
				&.domain-science {
					&:hover{
						background-color: $color-science;
					}
				}
				&.domain-family {
					&:hover{
						background-color: $color-family;
					}
				}
				&.domain-executive {
					&:hover{
						background-color: $color-executive;
					}
				}
				&.domain-social {
					&:hover{
						background-color: $color-social;
					}
				}
				&.domain-health {
					&:hover{
						background-color: $color-health;
					}
				}
			}
		}
		&:before{
			border-color: transparent transparent $card-btn-hvr transparent;
		}
		&:after {
			display:none;
		}
	}
	#select-age {
		width:60px;
		margin-left:203px;
		@media #{$small-only}{
			width:90%!important;
			margin-left:10px;
		}
		li a {
			text-align:center;
		}
		&:before {
			left:24px;
			@media #{$small-only}{
				left:50%;
			}
		}
	}
	#choose-domain {
		margin-left:3px;
		@media #{$small-only}{
			width:90%!important;
			margin-left:10px;
		}
		&:before {
			left:auto;
			right:20px;
			@media #{$small-only}{
				left:50%;
			}
		}

	}
	.completed-cards{
		background-color: $white;
		width:100%;
		z-index:10;
		&.position{
				position:fixed;
				bottom:-195px;
		}
		&:hover{
			bottom:0;
			transition: 0.25s all ease-in-out;
		}
	}
	.view-cards {
		padding-bottom:70px;
	}

	.card-buttons {
		clear:both;
		& a {
			display:block;
			position:relative;
			padding:25px;
			padding-left:80px;
			border:1px solid darken(#e8e8e8, 5%);
			background-color:$card-btn-bg;
			margin:10px 0 10px 20px;
			@include border-radius(25px,25px,25px,25px);
			@media #{$small-only}{
				font-size:rem-calc(11);
				margin: 0;
				margin-bottom: 14px;
				padding: 20px 15px 20px 55px;
			}
			color:$card-btn;
			&:before {
				content:'';
				display:inline-block;
				position:absolute;
				top:50%;
				left:20px;
				width:48px;
				height:48px;
				transform: translate(0, -50%);
				@media #{$small-only}{
					transform: translate(0, -50%) scale(0.8);
					left:5px;
				}

			}
			&.complete-btn:before {
				background: url("../img/flashcards/check-complete.png") no-repeat 0 0;
				background-position:0 -48px;

			}
			&.media-btn:before {
				background: url("../img/flashcards/upload-media.png") no-repeat 0 0;
				background-position:0 -48px;
			}
			&.complete-btn{
				@media #{$small-only}{
					float:left;
					width:42%;
					margin-left:20px;
				}
				&:hover{
					color:$orange;
					&:before{
						background-position:0 -96px;
					}
				}
				&.done-state{
					color: $orange;
					border: 1px solid $darker-border;
					box-shadow: 0 1px 0 $darker-border;
					&:before{
						background-position:0 -96px;
					}
					&:hover{
						color: $card-btn;
						&:before{
							background-position: 0 -48px;
						}
					}
				}
			}
			&.media-btn{
				@media #{$small-only}{
					float:right;
					width:42%;
					margin-right:20px;
				}
				&:hover{
					color:$orange;
					&:before{
						background-position:0 -96px;
					}
				}
				&.done-state{
					color: $orange;
					border: 1px solid $darker-border;
					box-shadow: 0 1px 0 $darker-border;
					&:before{
						background-position: 0 -96px;
					}
					&:hover{
						color: $card-btn;
						&:before{
							background-position: 0 -48px;
						}
					}
				}
			}
			&:hover {
				color: $card-btn-hvr;
				border-color:rgba(222,222,222,1.0);
				&:before {
					background-position:0 -48px;
				}
			}
			&.selected, &.selected:hover {
				color:$card-btn-act;
				&:before {
					background-position:0 -96px;
				}
			}
		}
	}
	p {
		font-size:rem-calc(14);
		line-height:1.4;
		& + p {
			margin-top:25px;
		}
	}
}

.card-domain {
	display:block;
	float:right;
	position:relative;
	width:90px;
	height:90px;
	margin:20px 0px 10px 10px;
	/* right:-18px; */
	@media #{$small-only}{
		right:18px;
	}
	&:before, &:after {
		content:'';
		display:block;
		position:absolute;
		top:50%;
		left:50%;
		border-radius:50%;
		transform: translate(-50%, -50%);
		transition: opacity .2s ease-in-out;
	}
	&:after{
		border:1px solid $card-btn-hvr;
		width:70px;
		height:70px;
		-webkit-box-shadow:inset 0 0 0 5px $white;
		box-shadow:inset 0 0 0 5px $white;
	}
	&:before {
		border:1px solid $card-btn-bg;
		@include vertical-gradient(#ced1d3, #fcfdfe);
		width:85px;
		height:85px;
		-webkit-box-shadow:inset 0 0 0 1px $white;
		box-shadow:inset 0 0 0 1px $white;
	}
	img{
		height:45%;
		position:absolute;
		top:50%;
		left:50%;
		z-index:10;
		transform: translate(-50%, -50%);
		@media #{$medium-only}{
			width:60px;
		}
	}
	&.creative:after{
		background:$color-creative;
	}
	&.language:after{
		background:$color-language;
	}
	&.math:after{
		background:$color-math;
	}
	&.science:after{
		background:$color-science;
	}
	&.family:after{
		background:$color-family;
	}
	&.executive:after{
		background:$color-executive;
	}
	&.social:after{
		background:$color-social;
	}
	&.health:after{
		background:$color-health;
	}
}

.milestones {
	position:relative;
	background-color:$dropdown-select-bg;
 	a {
		display: block;
		margin-top:10px;
		padding:10px 20px;
		background-color: $white;
		@include border-radius(25px,25px,0,0);
		text-align:center;
		color:$card-btn-hvr;
		max-width:230px;
		&.close-milestones{
			margin: 0;
			padding:0;
			position:absolute;
			right:60px;
			top:50%;
			transform: translate(0%, -50%);
			background: transparent;
			color:white;
			font-size:rem-calc(18);
			text-align:right;
			@media #{$small-only}{
				font-size:rem-calc(12);
				right:30px;
			}
		}
	}

}

.grid-list-toggle{
	float:right;
	margin: 24px 0 0 0;
		li{
			display:inline-block;
			float:left;
			margin-left:10px;
			a{
				&.list{
					background: url('../img/flashcards/grid-list-btns.png') no-repeat;
					width: 20px;
					height:20px;
					display:block;
					background-position: -20px -20px;
					&:hover,
					&.active{
						background-position: -20px 0px;
					}
				}
				&.grid{
					background: url('../img/flashcards/grid-list-btns.png') no-repeat;
					width: 19px;
					height:20px;
					display:block;
					background-position: 0px -20px;
					&:hover,
					&.active{
						background-position:  0px 0px;
					}
				}
			}
		}
}

#cardfolio .list-view li.media-card img{
	border:none;
}

.completed-milestones-page{
	.grid-view{
		@media #{$medium-only}{
			padding: 0 20px;
		}
	}
}

.completed-milestones-page{
	margin-top:70px;
	.list-view{
		margin: 0 auto;
		@media #{$small-only}{
			.card-domain{
				left:0;
				right:auto;
				float:left;
				margin:0;
			}
		}
		h2{
			cursor:pointer;
		}
		.card-details{
			/* padding-left:30px; */
		}
		.card-details-status{
			h4{
				display:inline;
			}
			.checked{
				background: url('../img/flashcards/card-status-domains.png') no-repeat;
				display:block;
				width:15px;
				height:14px;
				display:inline-block;
				position:relative;
				top:3px;
				left: 5px;
			}
			.media{
				background: url('../img/flashcards/card-status-domains.png') no-repeat;
				background-position: -15px 0;
				display:block;
				width:15px;
				height:14px;
				display:inline-block;
				position:relative;
				top:3px;
				left: 10px;
			}

			&.creative{
				h4{
					color: $color-creative;
				}
				.checked{
					background-position: 0 0;
				}
				.media{
					background-position: -15px 0;
				}
			}
			&.language{
				h4{
					color: $color-language;
				}
				.checked{
					background-position: 0 -14px;
				}
				.media{
					background-position: -15px -14px;
				}
			}
			&.math{
				h4{
					color: $color-math;
				}
				.checked{
					background-position: 0 -28px;
				}
				.media{
					background-position: -15px -28px;
				}
			}
			&.health{
				h4{
					color: $color-health;
				}
				.checked{
					background-position: 0 -42px;
				}
				.media{
					background-position: -15px -42px;
				}
			}
			&.family{
				h4{
					color: $color-family;
				}
				.checked{
					background-position: 0 -56px;
				}
				.media{
					background-position: -15px -56px;
				}
			}
			&.executive{
				h4{
					color: $color-executive;
				}
				.checked{
					background-position: 0 -70px;
				}
				.media{
					background-position: -15px -70px;
				}
			}
			&.social{
				h4{
					color: $color-social;
				}
				.checked{
					background-position: 0 -84px;
				}
				.media{
					background-position: -15px -84px;
				}
			}
			&.science{
				h4{
					color: $color-science;
				}
				.checked{
					background-position: 0 -98px;
				}
				.media{
					background-position: -15px -98px;
				}
			}
		}
		li{
			float:left;
			border-bottom: 1px solid lighten($list-item-gray, 60%);
			width:100%;
			@media #{$small-only}{
				border-bottom: none;
				margin:0 !important;
			}
		}
		h4{
			font-size:rem-calc(13);
			text-transform: capitalize;
		}
		h2{
			font-size:rem-calc(24);
			color:$list-item-gray;
		}
		p{
			font-size: rem-calc(16);
			color:$list-item-gray;
			@media #{$small-only}{
				border-bottom: 1px solid lighten($list-item-gray, 60%);
				padding-bottom:20px;
			}
		}
	}
}

#cardfolio {
	padding-top:20px;
	margin-top:20px;
	padding-top:0;
	ul{
		@media #{$small-only}{
			margin: 0 20px;
		}
	}
	.expand-milestones{
		float:right;
		padding-right: 2rem;
		text-decoration:underline;
		position:relative;
		@media #{$small-only}{
			margin-top:20px;
			padding-right:3.5rem;
		}
		&:hover{
			color: $orange-hover;
		}
		&:after{
			content: '';
			background: url('../img/flashcards/down-arrow-orange.png') no-repeat center center;
			width:15px;
			height:10px;
			display:block;
			position:absolute;
			top:50%;
			transform: translate(0,-50%);
			right:0px;
			@media #{$small-only}{
				right:30px;
			}
		}
	}
	& li {
		position:relative;
		margin: 20px 0 10px 0;
		a {
			position:relative;
			display:block;
			width:100%;
			height:130px;
			@media #{$small-only}{
				height:200px;
			}
			img {
				width:100%;
			}
		}
		&.media-card {
			.image{
				display: block;
				width: 100%;
				height: 130px;
				background-position: center center;
				background-repeat: no-repeat;
				border:1px solid $darker-border;
				background-size:cover;
				background-color:darken(#f7f7f7, 10%);
				@media #{$small-only}{
					height:200px;
				}
				& + span{
					padding-top:20px;
					margin-top:20px;
					color: $black;
				}
			}
			&.completed{
				a{
					background:none;
					border: none;
					&:before{
						display:none;
					}
				}
			}
			& a {
				&:before {
					content:'';
					display:block;
					position:absolute;
					z-index:1;
					top:50%;
					left:50%;
					width:80px;
					height:80px;
					border-radius:50%;
					transform: translate(-50%, -50%);
					background-position:center;
					background-repeat:no-repeat;
					transition: background-color .2s ease-in-out;
				}
			&.creative{
				&:before{
					background-image:url(../img/domains/creative-icon-white.png);
				}
				&:hover:before {
					background-color:$color-creative;
				}
			}
			&.language{
				&:before{
					background-image:url(../img/domains/language-icon-white.png);
				}
				&:hover:before {
					background-color:$color-language;
				}
			}
			&.math{
				&:before{
					background-image:url(../img/domains/math-icon-white.png);
				}
				&:hover:before {
					background-color:$color-math;
				}
			}
			&.science {
				&:before{
					background-image:url(../img/domains/science-icon-white.png);
				}
				&:hover:before {
					background-color:$color-science;
				}
			}
			&.family{
				&:before{
					background-image:url(../img/domains/family-icon-white.png);
				}
				&:hover:before {
					background-color:$color-family;
				}
			}
			&.executive{
				&:before{
					background-image:url(../img/domains/executive-icon-white.png);
				}
				&:hover:before {
					background-color:$color-executive;
				}
			}
			&.social{
				&:before{
					background-image:url(../img/domains/social-icon-white.png);
				}
				&:hover:before {
					background-color:$color-social;
				}
			}
			&.health{
				&:before{
					background-image:url(../img/domains/health-icon-white.png);
				}
				&:hover:before {
					background-color:$color-health;
				}
			}
			}
		}
	}
}

.load-more{
	font-size:rem-calc(21);
	border-radius:18px;
	margin-top:40px;
	@media #{$medium-only}{
		margin-left:20px;
	}
	@media #{$small-only}{
		margin-left:30px;
	}
	&.disabled{
		background: gray;
		opacity: 0.3;
		&:hover{
			background:gray;
		}
	}
}

  .animate-repeat.ng-move,
  .animate-repeat.ng-enter,
  .animate-repeat.ng-leave {
    transition:opacity linear 0.5s;
  }

  .animate-repeat.ng-leave.ng-leave-active,
  .animate-repeat.ng-move,
  .animate-repeat.ng-enter {
    opacity:0;
  }

  .animate-repeat.ng-leave,
  .animate-repeat.ng-move.ng-move-active,
  .animate-repeat.ng-enter.ng-enter-active {
    opacity:1;
  }

	#milestone-modal{
		&.reveal-modal{
			h1{
				padding-right:100px;
				line-height:1;
			}
			.user-uploaded-photo{
				width:100%;
				height:300px;
				background-size:cover;
				background-position: center center;
				margin-bottom:15px;
			}
			.card-domain{
				position:absolute;
				top:-15px;
				right:0;
			}
			p{
				padding-right:75px;
				@media #{$small-only}{
					font-size: rem-calc(14);
				}
			}
		}
	}
